openapi: 3.0.0
tags:
  - name: Current User
  - name: Companies
  - name: Employees
  - name: Contractors
  - name: Payroll
  - name: Contractor Payments
  - name: Company Bank Accounts (Beta)
  - name: Benefits
  - name: Locations
  - name: Jobs
  - name: Job Applicants (Beta)
  - name: Compensations
  - name: Pay Schedules
  - name: Garnishments
  - name: Time Off Requests
  - name: Earning Type
  - name: Terminations
  - name: Custom Fields
  - name: Admins (Beta)
info:
  title: Gusto API
  version: '1.0'
  termsOfService: 'https://gusto.com/about/terms/developer-terms-of-service'
  description: Welcome to Gusto's API documentation.
  contact:
    name: Developer Relations
    email: developer@gusto.com
servers:
  - url: 'https://api.gusto-demo.com'
    description: Demo
  - description: Production
    url: 'https://api.gusto.com'
paths:
  '/v1/employees/{employee_id_or_uuid}':
    get:
      summary: Get an employee
      operationId: get-v1-employees
      description: Get an employee.
      parameters:
        - in: query
          name: include
          description: Include the requested attribute(s) in each employee response
          schema:
            type: array
            items:
              type: string
              enum:
                - custom_fields
      responses:
        '200':
          $ref: '#/components/responses/Employee-Object'
      tags:
        - Employees
    put:
      summary: Update an employee
      operationId: put-v1-employees
      description: Update an employee.
      requestBody:
        content:
          application/json:
            schema:
              description: ''
              type: object
              properties:
                version:
                  type: string
                  description: The current version of the object. See the versioning guide for information on how to use this field.
                first_name:
                  type: string
                middle_initial:
                  type: string
                last_name:
                  type: string
                date_of_birth:
                  type: string
                email:
                  type: string
                ssn:
                  type: string
                  pattern: '[0-9]{9}'
                two_percent_shareholder:
                  type: boolean
              required:
                - version
            examples:
              Example:
                value:
                  version: db0edd04aaac4506f7edab03ac855d56
                  first_name: Soren
                  middle_initial: A
                  last_name: Kierkegaard
                  date_of_birth: '1995-05-05'
                  email: knight0faith@example.com
                  ssn: '123456294'
                  two_percent_shareholder: false
        description: Update an employee.
      parameters: []
      responses:
        '200':
          $ref: '#/components/responses/Employee-Object'
      tags:
        - Employees
    parameters:
      - schema:
          type: string
        name: employee_id_or_uuid
        in: path
        required: true
        description: The ID or UUID of the employee
  '/v1/companies/{company_id_or_uuid}':
    get:
      summary: Get a company
      operationId: get-v1-companies
      description: Get a company.
      parameters: []
      responses:
        '200':
          $ref: '#/components/responses/Company-Object'
      tags:
        - Companies
    parameters:
      - schema:
          type: string
        name: company_id_or_uuid
        in: path
        description: The ID or UUID of the company
        required: true
  '/v1/companies/{company_id_or_uuid}/employees':
    parameters:
      - schema:
          type: string
        name: company_id_or_uuid
        in: path
        required: true
        description: The ID or UUID of the company
    get:
      summary: Get employees of a company
      operationId: get-v1-companies-company_id-employees
      parameters:
        - schema:
            type: boolean
          in: query
          name: terminated
          description: Filters employees by the provided boolean
        - schema:
            type: number
          in: query
          name: page
          description: 'The page that is requested. When unspecified, will load all employees.'
        - schema:
            type: number
          in: query
          name: per
          description: 'Number of employees per page. When unspecified, will default to 25'
        - in: query
          name: include
          description: Include the requested attribute(s) in each employee response
          schema:
            type: array
            items:
              type: string
              enum:
                - custom_fields
      description: 'Get all of the employees, onboarding, active and terminated, for a given company.'
      responses:
        '200':
          $ref: '#/components/responses/Employee-List'
      tags:
        - Employees
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties: {}
    post:
      summary: Create an employee
      operationId: post-v1-employees
      requestBody:
        content:
          application/json:
            schema:
              description: ''
              type: object
              properties:
                first_name:
                  type: string
                middle_initial:
                  type: string
                last_name:
                  type: string
                date_of_birth:
                  type: string
                email:
                  type: string
                ssn:
                  type: string
                  pattern: '[0-9]{9}'
            examples:
              Example:
                value:
                  first_name: Soren
                  middle_initial: A
                  last_name: Kierkegaard
                  date_of_birth: '1995-05-05'
                  email: knight0faith@example.com
                  ssn: '123456294'
        description: Create an employee.
      parameters: []
      description: Create an employee.
      responses:
        '201':
          $ref: '#/components/responses/Employee-Object'
      tags:
        - Employees
  '/v1/jobs/{job_id}':
    parameters:
      - schema:
          type: string
        name: job_id
        in: path
        required: true
        description: The job ID
    get:
      summary: Get a job
      responses:
        '200':
          $ref: '#/components/responses/Job-Object'
      operationId: get-v1-jobs-job_id
      parameters: []
      description: Get a job.
      tags:
        - Jobs
    put:
      summary: Update a job
      responses:
        '200':
          $ref: '#/components/responses/Job-Object'
      operationId: put-v1-jobs-job_id
      description: Update a job.
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              description: ''
              type: object
              properties:
                version:
                  type: string
                  description: The current version of the object. See the versioning guide for information on how to use this field.
                title:
                  type: string
                location_id:
                  type: number
                hire_date:
                  type: string
              required:
                - version
            examples:
              Example:
                value:
                  version: gr78930htutrz444kuytr3s5hgxykuveb523fwl8sir
                  title: Regional Manager
                  location_id: 1363316536327002
                  hire_date: '2020-12-21'
        description: Update a job.
      tags:
        - Jobs
    delete:
      summary: Delete an individual job
      tags:
        - Jobs
      responses:
        '204':
          description: No Content
      operationId: delete-v1-jobs-job_id
      description: Deletes a specific job that an employee holds.
  '/v1/employees/{employee_id}/jobs':
    parameters:
      - schema:
          type: string
        name: employee_id
        in: path
        required: true
        description: The employee ID
    get:
      summary: Get jobs for an employee
      responses:
        '200':
          $ref: '#/components/responses/Job-List'
      operationId: get-v1-employees-employee_id-jobs
      description: Get all of the jobs that an employee holds.
      parameters: []
      tags:
        - Jobs
    post:
      summary: Create a job
      responses:
        '201':
          $ref: '#/components/responses/Job-Object'
      operationId: post-v1-jobs-job_id
      description: Create a job.
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              description: ''
              type: object
              properties:
                title:
                  type: string
                location_id:
                  type: number
                hire_date:
                  type: string
            examples:
              Example:
                value:
                  title: Regional Manager
                  location_id: 1363316536327002
                  hire_date: '2020-12-21'
        description: Create a job.
      tags:
        - Jobs
  '/v1/companies/{company_id_or_uuid}/locations':
    parameters:
      - schema:
          type: string
        name: company_id_or_uuid
        in: path
        required: true
        description: The ID or UUID of the company
    get:
      summary: Get company locations
      responses:
        '200':
          $ref: '#/components/responses/Location-List'
      operationId: get-v1-companies-company_id-locations
      description: |-
        Company locations represent all addresses associated with a company. These can be filing addesses, mailing addresses, and/or work locations; one address may serve multiple, or all, purposes.

        Since all company locations are subsets of locations, retrieving or updating an individual record should be done via the locations endpoints.
      parameters: []
      tags:
        - Locations
    post:
      summary: Create a company location
      responses:
        '201':
          $ref: '#/components/responses/Location-Object'
      operationId: post-v1-companies-company_id-locations
      description: |-
        Company locations represent all addresses associated with a company. These can be filing addesses, mailing addresses, and/or work locations; one address may serve multiple, or all, purposes.

        Since all company locations are subsets of locations, retrieving or updating an individual record should be done via the locations endpoints.
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              description: ''
              type: object
              properties:
                phone_number:
                  type: string
                  pattern: '[0-9]{10}'
                street_1:
                  type: string
                street_2:
                  type: string
                  nullable: true
                city:
                  type: string
                state:
                  type: string
                zip:
                  type: string
                country:
                  type: string
                  default: USA
                mailing_address:
                  type: boolean
                  description: Specify if this location is the company's mailing address.
                filing_address:
                  type: boolean
                  description: Specify if this location is the company's filing address.
              required:
                - phone_number
                - street_1
                - city
                - state
                - zip
            examples:
              Example:
                value:
                  phone_number: '8009360383'
                  street_1: 425 2nd Street
                  street_2: Suite 602
                  city: San Francisco
                  state: CA
                  zip: '94107'
                  country: USA
          application/xml:
            schema:
              description: ''
              type: object
              properties:
                phone_number:
                  type: string
                  minLength: 1
                street_1:
                  type: string
                  minLength: 1
                street_2:
                  type: string
                  nullable: true
                  minLength: 1
                city:
                  type: string
                  minLength: 1
                state:
                  type: string
                  minLength: 1
                zip:
                  type: string
                  minLength: 1
                country:
                  type: string
                  minLength: 1
              required:
                - phone_number
                - street_1
                - street_2
                - city
                - state
                - zip
                - country
            examples:
              Example:
                value:
                  phone_number: '8009360383'
                  street_1: 425 2nd Street
                  street_2: Suite 602
                  city: San Francisco
                  state: CA
                  zip: '94107'
                  country: USA
        description: Create a company location.
      tags:
        - Locations
  '/v1/locations/{location_id}':
    parameters:
      - schema:
          type: string
        name: location_id
        in: path
        required: true
        description: The ID of the location
    get:
      summary: Get a location
      responses:
        '200':
          $ref: '#/components/responses/Location-Object'
      operationId: get-v1-locations-location_id
      description: Get a location.
      parameters: []
      tags:
        - Locations
    put:
      summary: Update a location
      responses:
        '200':
          $ref: '#/components/responses/Location-Object'
      operationId: put-v1-locations-location_id
      description: Update a location.
      requestBody:
        content:
          application/json:
            schema:
              description: ''
              type: object
              properties:
                phone_number:
                  type: string
                  pattern: '[0-9]{10}'
                street_1:
                  type: string
                street_2:
                  type: string
                  nullable: true
                city:
                  type: string
                state:
                  type: string
                zip:
                  type: string
                country:
                  type: string
                mailing_address:
                  type: boolean
                  description: 'For a company location, specify if this location is the company''s mailing address.'
                filing_address:
                  type: boolean
                  description: 'For a company location, specify if this location is the company''s filing address.'
            examples:
              Example:
                value:
                  phone_number: '8009360383'
                  street_1: 425 2nd Street
                  street_2: Suite 602
                  city: San Francisco
                  state: CA
                  zip: '94107'
                  country: USA
        description: Update a location
      tags:
        - Locations
  '/v1/contractors/{contractor_id_or_uuid}':
    parameters:
      - schema:
          type: string
        name: contractor_id_or_uuid
        in: path
        required: true
        description: The ID or UUID of the contractor
    get:
      summary: Get a contractor
      tags:
        - Contractors
      responses:
        '200':
          $ref: '#/components/responses/Contractor-Object'
      operationId: get-v1-contractors-contractor_id
      description: Get a contractor.
    put:
      summary: Update a contractor
      tags:
        - Contractors
      responses:
        '200':
          $ref: '#/components/responses/Contractor-Object'
      operationId: put-v1-contractors-contractor_id
      description: Update a contractor.
      requestBody:
        content:
          application/json:
            schema:
              description: ''
              type: object
              properties:
                version:
                  type: string
                  description: The current version of the object. See the versioning guide for information on how to use this field.
                start_date:
                  type: string
                  description: |
                    The day when the contractor will start working for the company.
                  example: '2020-01-11'
                first_name:
                  type: string
                  description: The contractor’s first name. This attribute is required for “Individual” contractors and will be ignored for “Business” contractors.
                last_name:
                  type: string
                  description: The contractor’s last name. This attribute is required for “Individual” contractors and will be ignored for “Business” contractors.
                middle_initial:
                  type: string
                  description: "null\tThe contractor’s middle initial. This attribute is optional for “Individual” contractors and will be ignored for “Business” contractors."
                wage_type:
                  type: string
                  description: |
                    The contractor’s wage type, either “Fixed” or “Hourly”.
                  enum:
                    - Fixed
                    - Hourly
                hourly_rate:
                  type: string
                  description: The contractor’s hourly rate. This attribute is required if the wage_type is “Hourly”.
                  example: '40.0'
                business_name:
                  type: string
                  description: The name of the contractor business. This attribute is required for “Business” contractors and will be ignored for “Individual” contractors.
                ein:
                  type: string
                  description: The employer identification number of the contractor business. This attribute is optional for “Business” contractors and will be ignored for “Individual” contractors.
            examples:
              Update an Individual Contractor:
                value:
                  version: b48c46abfed1487b873b442334b3c4ff
                  start_date: '2021-01-01'
                  first_name: Chanel
                  last_name: Boyle
                  middle_initial: X
                  wage_type: Hourly
                  hourly_rate: '20.00'
              Update a Business Contractor:
                value:
                  version: b48c46abfed1487b873b442334b3c4ff
                  start_date: '2020-01-11'
                  business_name: Contracting Solutions
                  ein: '991113334'
                  wage_type: Fixed
        description: ''
  '/v1/companies/{company_id_or_uuid}/contractors':
    parameters:
      - schema:
          type: string
        name: company_id_or_uuid
        in: path
        required: true
        description: The ID or UUID of the company
    get:
      summary: Get contractors of a company
      tags:
        - Contractors
      responses:
        '200':
          $ref: '#/components/responses/Contractor-List'
      operationId: get-v1-companies-company_id-contractors
      description: 'Get all contractors, active and inactive, individual and business, for a company.'
    post:
      summary: Create a contractor
      tags:
        - Contractors
      responses:
        '201':
          $ref: '#/components/responses/Contractor-Object'
      operationId: post-v1-companies-company_id-contractors
      description: Create an individual or business contractor.
      requestBody:
        content:
          application/json:
            schema:
              description: ''
              type: object
              properties:
                type:
                  type: string
                  description: |
                    The contractor type, either an “Individual” or a “Business”.
                  enum:
                    - Individual
                    - Business
                wage_type:
                  type: string
                  enum:
                    - Hourly
                    - Fixed
                  description: |
                    The contractor’s wage type, either “Fixed” or “Hourly”.
                first_name:
                  type: string
                  description: The contractor’s first name. This attribute is required for “Individual” contractors and will be ignored for “Business” contractors.
                last_name:
                  type: string
                  description: The contractor’s last_name. This attribute is optional for “Individual” contractors and will be ignored for “Business” contractors.
                start_date:
                  type: string
                  example: '2020-10-10'
                  description: The day when the contractor will start working for the company.
                self_onboarding:
                  type: boolean
                  default: false
                  description: 'Whether the contractor or the payroll admin will complete onboarding in Gusto. Self-onboarding is recommended so that contractors receive Gusto accounts. If self_onboarding is true, then email is required. '
                email:
                  type: string
                  description: The contractor’s email address. This attribute is optional for “Individual” contractors and will be ignored for “Business” contractors.
                middle_initial:
                  type: string
                  description: The contractor’s middle initial. This attribute is optional for “Individual” contractors and will be ignored for “Business” contractors.
                business_name:
                  type: string
                  description: The name of the contractor business. This attribute is required for “Business” contractors and will be ignored for “Individual” contractors.
                ein:
                  type: string
                  description: The employer identification number of the contractor business. This attribute is optional for “Business” contractors and will be ignored for “Individual” contractors.
              required:
                - type
                - wage_type
                - start_date
            examples:
              Create an Individual contractor:
                value:
                  type: Individual
                  wage_type: Fixed
                  first_name: Johnson
                  last_name: Johnson
                  start_date: '2020-04-01'
                  self_onboarding: true
                  email: johnson@johnson.com
              Create a Business contractor:
                value:
                  type: Business
                  wage_type: Fixed
                  business_name: Johnson-Johnson Contractors
                  start_date: '2020-04-01'
        description: Create an individual or business contractor.
  '/v1/companies/{company_id}/contractor_payments':
    parameters:
      - schema:
          type: string
        name: company_id
        in: path
        required: true
        description: The ID of the company
    get:
      summary: Get contractor payments for a company
      tags:
        - Contractor Payments
      responses:
        '200':
          $ref: '#/components/responses/Contractor-Payments'
      operationId: get-v1-companies-company_id-contractor_payments
      description: 'Returns an object containing individual contractor payments, within a given time period, including totals.'
      parameters:
        - schema:
            type: string
            example: '2020-01-01'
          in: query
          name: start_date
          description: The time period for which to retrieve contractor payments
        - schema:
            type: string
            example: '2020-12-31'
          in: query
          name: end_date
          description: The time period for which to retrieve contractor payments
    post:
      summary: Create a contractor payment (Beta)
      tags:
        - Contractor Payments
      responses:
        '200':
          $ref: '#/components/responses/Contractor-Payment-Object'
      operationId: post-v1-companies-company_id-contractor_payments
      description: |-
        Returns an object containing individual contractor payments, within a given time period, including totals.

        This endpoint is in beta and intended for **[Gusto Embedded Payroll](https://gusto.com/embedded-payroll)** customers. Please [apply for early access](https://gusto-embedded-payroll.typeform.com/to/iomAQIj3?utm_source=docs) if you’d like to learn more and use it for production. Note, this endpoint will require you to enter a different agreement with Gusto.
      parameters:
        - schema:
            type: string
            example: '2020-01-01'
          in: query
          required: true
          name: date
          description: The payment date
        - schema:
            type: number
            example: 7757515807748202
          in: query
          required: true
          name: contractor_id
          description: The contractor receiving the payment
        - schema:
            type: number
            example: 5000
          in: query
          name: wage
          description: 'If the contractor is on a fixed wage, this is the fixed wage payment for the contractor, regardless of hours worked.'
        - schema:
            type: number
            example: 40
          in: query
          name: hours
          description: 'If the contractor is on an hourly wage, this is the number of hours that the contractor worked for the payment.'
        - schema:
            type: number
            example: 500
          in: query
          name: bonus
          description: 'If the contractor is on an hourly wage, this is the bonus the contractor earned.'
        - schema:
            type: number
            example: 20
          in: query
          name: reimbursement
          description: Reimbursed wages for the contractor .
  '/v1/companies/{company_id}/contractor_payments/{contractor_payment_id_or_uuid}':
    parameters:
      - schema:
          type: string
        name: company_id
        in: path
        required: true
        description: The ID of the company
      - schema:
          type: string
        name: contractor_payment_id_or_uuid
        in: path
        required: true
        description: The ID or UUID of the contractor payment
    get:
      summary: Get a single contractor payment
      tags:
        - Contractor Payments
      responses:
        '200':
          $ref: '#/components/responses/Contractor-Payment-Object'
      operationId: get-v1-companies-company_id-contractor_payment-contractor-payment
      description: Returns a single contractor payments
    delete:
      summary: Cancel a contractor payment (Beta)
      tags:
        - Contractor Payments
      responses:
        '204':
          description: No Content
      operationId: delete-v1-companies-company_id-contractor_payment-contractor-payment
      description: |-
        Cancels and deletes a contractor payment. If the contractor payment has already started processing, the payment cannot be cancelled.

        This endpoint is in beta and intended for **[Gusto Embedded Payroll](https://gusto.com/embedded-payroll)** customers. Please [apply for early access](https://gusto-embedded-payroll.typeform.com/to/iomAQIj3?utm_source=docs) if you’d like to learn more and use it for production. Note, this endpoint will require you to enter a different agreement with Gusto.
      x-internal: false
  '/v1/compensations/{compensation_id}':
    parameters:
      - schema:
          type: string
        name: compensation_id
        in: path
        required: true
        description: The ID of the compensation
    get:
      summary: Get a compensation
      responses:
        '200':
          $ref: '#/components/responses/Compensation-Object'
      operationId: get-v1-compensations-compensation_id
      description: |
        Compensations contain information on how much is paid out for a job. Jobs may have many compensations, but only one that is active. The current compensation is the one with the most recent `effective_date`.

        Note: Currently, jobs are arbitrarily limited to a single compensation as multiple compensations per job are not yet available in Gusto. The API is architected as if multiple compensations may exist, so integrations should integrate under the same assumption. The only exception is that creating a compensation with the same `job_id` as another will fail with a relevant error.
      tags:
        - Compensations
    put:
      summary: Update a compensation
      tags:
        - Compensations
      responses:
        '200':
          $ref: '#/components/responses/Compensation-Object'
      operationId: put-v1-compensations-compensation_id
      description: |-
        Compensations contain information on how much is paid out for a job. Jobs may have many compensations, but only one that is active. The current compensation is the one with the most recent `effective_date`.

        Note: Currently, jobs are arbitrarily limited to a single compensation as multiple compensations per job are not yet available in Gusto. The API is architected as if multiple compensations may exist, so integrations should integrate under the same assumption. The only exception is that creating a compensation with the same `job_id` as another will fail with a relevant error
      requestBody:
        content:
          application/json:
            schema:
              description: ''
              type: object
              properties:
                version:
                  type: string
                  description: The current version of the object. See the versioning guide for information on how to use this field.
                  readOnly: true
                rate:
                  type: string
                  readOnly: false
                  description: The dollar amount paid per payment unit.
                payment_unit:
                  type: string
                  readOnly: false
                  description: 'The unit accompanying the compensation rate. If the employee is an owner, rate should be ''Paycheck''.'
                  enum:
                    - Hour
                    - Week
                    - Month
                    - Year
                    - Paycheck
                flsa_status:
                  type: string
                  readOnly: false
                  description: 'The FLSA status for this compensation. Salaried (''Exempt'') employees are paid a fixed salary every pay period. Salaried with overtime (''Salaried Nonexempt'') employees are paid a fixed salary every pay period, and receive overtime pay when applicable. Hourly (''Nonexempt'') employees are paid for the hours they work, and receive overtime pay when applicable. Owners (''Owner'') are employees that own at least twenty percent of the company. '
                  enum:
                    - Exempt
                    - Salaried Nonexempt
                    - Nonexempt
                    - Owner
              required:
                - version
            examples:
              Example:
                value:
                  version: 98jr3289h3298hr9329gf9egskt3kagri32qqgiqe3872
                  rate: '60000.00'
                  payment_unit: Year
                  flsa_status: Exempt
  '/v1/jobs/{job_id}/compensations':
    parameters:
      - schema:
          type: string
        name: job_id
        in: path
        required: true
        description: The ID of the job to which the compensation belongs
    get:
      summary: Get compensations for a job
      responses:
        '200':
          $ref: '#/components/responses/Compensation-List'
      operationId: get-v1-jobs-job_id-compensations
      description: |-
        Compensations contain information on how much is paid out for a job. Jobs may have many compensations, but only one that is active. The current compensation is the one with the most recent `effective_date`.

        Note: Currently, jobs are arbitrarily limited to a single compensation as multiple compensations per job are not yet available in Gusto. The API is architected as if multiple compensations may exist, so integrations should integrate under the same assumption. The only exception is that creating a compensation with the same `job_id` as another will fail with a relevant error.

        Use the `flsa_status` to determine if an employee is elibgle for overtime.
      tags:
        - Compensations
    post:
      summary: Create a compensation
      tags:
        - Jobs
      operationId: post-v1-jobs-job_id-compensations
      description: |-
        Compensations contain information on how much is paid out for a job. Jobs may have many compensations, but only one that is active. The current compensation is the one with the most recent `effective_date`.

        Note: Currently, jobs are arbitrarily limited to a single compensation as multiple compensations per job are not yet available in Gusto. The API is architected as if multiple compensations may exist, so integrations should integrate under the same assumption. The only exception is that creating a compensation with the same `job_id` as another will fail with a relevant error
      responses:
        '201':
          $ref: '#/components/responses/Compensation-Object'
      requestBody:
        content:
          application/json:
            schema:
              description: ''
              type: object
              properties:
                rate:
                  type: string
                  readOnly: false
                  description: The dollar amount paid per payment unit.
                payment_unit:
                  type: string
                  readOnly: false
                  description: 'The unit accompanying the compensation rate. If the employee is an owner, rate should be ''Paycheck''.'
                  enum:
                    - Hour
                    - Week
                    - Month
                    - Year
                    - Paycheck
                flsa_status:
                  type: string
                  readOnly: false
                  description: 'The FLSA status for this compensation. Salaried (''Exempt'') employees are paid a fixed salary every pay period. Salaried with overtime (''Salaried Nonexempt'') employees are paid a fixed salary every pay period, and receive overtime pay when applicable. Hourly (''Nonexempt'') employees are paid for the hours they work, and receive overtime pay when applicable. Owners (''Owner'') are employees that own at least twenty percent of the company. '
                  enum:
                    - Exempt
                    - Salaried Nonexempt
                    - Nonexempt
                    - Owner
                effective_date:
                  type: string
                  description: 'The effective date for this compensation. For the first compensation, this defaults to the job''s hire date.'
              required:
                - rate
                - payment_unit
                - flsa_status
            examples:
              Example:
                value:
                  rate: '60000.00'
                  payment_unit: Year
                  flsa_status: Exempt
                  effective_date: '2020-03-15'
  '/v1/employees/{employee_id}/garnishments':
    parameters:
      - schema:
          type: string
        name: employee_id
        in: path
        required: true
        description: The ID of the employee to which the garnishment belongs
    get:
      summary: Get garnishments for an employee
      tags:
        - Garnishments
      responses:
        '200':
          $ref: '#/components/responses/Garnishment-List'
      operationId: get-v1-employees-employee_id-garnishments
      description: 'Garnishments, or employee deductions, are fixed amounts or percentages deducted from an employee’s pay. They can be deducted a specific number of times or on a recurring basis. Garnishments can also have maximum deductions on a yearly or per-pay-period bases. Common uses for garnishments are court-ordered payments for child support or back taxes. Some companies provide loans to their employees that are repaid via garnishments.'
    post:
      summary: Create a garnishment
      tags:
        - Garnishments
      responses:
        '201':
          $ref: '#/components/responses/Garnishment-Object'
      operationId: post-v1-employees-employee_id-garnishments
      description: 'Garnishments, or employee deductions, are fixed amounts or percentages deducted from an employee’s pay. They can be deducted a specific number of times or on a recurring basis. Garnishments can also have maximum deductions on a yearly or per-pay-period bases. Common uses for garnishments are court-ordered payments for child support or back taxes. Some companies provide loans to their employees that are repaid via garnishments.'
      requestBody:
        content:
          application/json:
            schema:
              description: ''
              type: object
              properties:
                active:
                  type: boolean
                  default: true
                  description: Whether or not this garnishment is currently active.
                amount:
                  type: string
                  format: float
                  readOnly: false
                  description: 'The amount of the garnishment. Either a percentage or a fixed dollar amount. Represented as a float, e.g. "8.00".'
                description:
                  type: string
                  readOnly: false
                  description: The description of the garnishment.
                court_ordered:
                  type: boolean
                  readOnly: false
                  description: Whether the garnishment is court ordered.
                times:
                  type: integer
                  readOnly: false
                  default: null
                  description: The number of times to apply the garnisment. Ignored if recurring is true.
                recurring:
                  type: boolean
                  readOnly: false
                  default: false
                  description: Whether the garnishment should recur indefinitely.
                annual_maximum:
                  format: float
                  readOnly: false
                  default: null
                  description: 'The maximum deduction per annum. A null value indicates no maximum. Represented as a float, e.g. "200.00".'
                  type: string
                pay_period_maximum:
                  type: string
                  format: float
                  default: null
                  description: 'The maximum deduction per pay period. A null value indicates no maximum. Represented as a float, e.g. "16.00".'
                deduct_as_percentage:
                  type: boolean
                  readOnly: false
                  default: false
                  description: Whether the amount should be treated as a percentage to be deducted per pay period.
              required:
                - amount
                - description
                - court_ordered
            examples:
              Example:
                value:
                  amount: '150.00'
                  description: Back taxes
                  court_ordered: true
                  recurring: true
                  deduct_as_percentage: false
  '/v1/garnishments/{garnishment_id}':
    parameters:
      - schema:
          type: string
        name: garnishment_id
        in: path
        required: true
        description: The ID of the garnishment
    get:
      summary: Get a garnishment
      tags:
        - Garnishments
      responses:
        '200':
          $ref: '#/components/responses/Garnishment-Object'
      operationId: get-v1-garnishments-garnishment_id
      description: 'Garnishments, or employee deductions, are fixed amounts or percentages deducted from an employee’s pay. They can be deducted a specific number of times or on a recurring basis. Garnishments can also have maximum deductions on a yearly or per-pay-period bases. Common uses for garnishments are court-ordered payments for child support or back taxes. Some companies provide loans to their employees that are repaid via garnishments.'
    put:
      summary: Update a garnishment
      tags:
        - Garnishments
      responses:
        '200':
          $ref: '#/components/responses/Garnishment-Object'
      operationId: put-v1-garnishments-garnishment_id
      description: 'Garnishments, or employee deductions, are fixed amounts or percentages deducted from an employee’s pay. They can be deducted a specific number of times or on a recurring basis. Garnishments can also have maximum deductions on a yearly or per-pay-period bases. Common uses for garnishments are court-ordered payments for child support or back taxes. Some companies provide loans to their employees that are repaid via garnishments.'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                active:
                  type: boolean
                  default: true
                  description: Whether or not this garnishment is currently active.
                amount:
                  type: string
                  format: float
                  readOnly: false
                  description: 'The amount of the garnishment. Either a percentage or a fixed dollar amount. Represented as a float, e.g. "8.00".'
                description:
                  type: string
                  readOnly: false
                  description: The description of the garnishment.
                court_ordered:
                  type: boolean
                  readOnly: false
                  description: Whether the garnishment is court ordered.
                times:
                  type: integer
                  readOnly: false
                  default: null
                  description: The number of times to apply the garnisment. Ignored if recurring is true.
                recurring:
                  type: boolean
                  readOnly: false
                  default: false
                  description: Whether the garnishment should recur indefinitely.
                annual_maximum:
                  format: float
                  readOnly: false
                  default: null
                  description: 'The maximum deduction per annum. A null value indicates no maximum. Represented as a float, e.g. "200.00".'
                  type: string
                pay_period_maximum:
                  type: string
                  format: float
                  default: null
                  description: 'The maximum deduction per pay period. A null value indicates no maximum. Represented as a float, e.g. "16.00".'
                deduct_as_percentage:
                  type: boolean
                  readOnly: false
                  default: false
                  description: Whether the amount should be treated as a percentage to be deducted per pay period.
                version:
                  type: string
                  description: The current version of the object. See the versioning guide for information on how to use this field.
              required:
                - version
            examples:
              Example:
                value:
                  version: 52b7c567242cb7452e89ba2bc02cb476
                  active: false
  '/v1/employees/{employee_id}/terminations':
    parameters:
      - schema:
          type: string
        name: employee_id
        in: path
        required: true
        description: The ID of the employee
    get:
      summary: Get terminations for an employee
      tags:
        - Terminations
      responses:
        '200':
          $ref: '#/components/responses/Termination-List'
      operationId: get-v1-employees-employee_id-terminations
      description: |-
        Terminations are created whenever an employee is scheduled to leave the company. The only things required are an effective date (their last day of work) and whether they should receive their wages in a one-off termination payroll or with the rest of the company.

        Note that some states require employees to receive their final wages within 24 hours (unless they consent otherwise,) in which case running a one-off payroll may be the only option.
    post:
      summary: Create an employee termination
      tags:
        - Terminations
      responses:
        '201':
          $ref: '#/components/responses/Termination-Object'
      operationId: post-v1-employees-employee_id-terminations
      description: |-
        Terminations are created whenever an employee is scheduled to leave the company. The only things required are an effective date (their last day of work) and whether they should receive their wages in a one-off termination payroll or with the rest of the company.

        Note that some states require employees to receive their final wages within 24 hours (unless they consent otherwise,) in which case running a one-off payroll may be the only option.
      requestBody:
        content:
          application/json:
            schema:
              description: ''
              type: object
              properties:
                effective_date:
                  type: string
                  description: The employee's last day of work.
                run_termination_payroll:
                  type: boolean
                  description: 'If true, the employee should recieve their final wages via an offcycle payroll. If false, they should recieve their final wages on their current pay schedule.'
            examples:
              Example:
                value:
                  effective_date: '2020-06-30'
                  run_termination_payroll: true
  '/v1/companies/{company_id}/time_off_requests':
    parameters:
      - schema:
          type: string
        name: company_id
        in: path
        required: true
        description: The ID of the company
    get:
      summary: Get time off requests for a company
      tags:
        - Time Off Requests
      responses:
        '200':
          $ref: '#/components/responses/Time-Off-Request-List'
      operationId: get-v1-companies-company_id-time_off_requests
      description: |
        Get all time off requests, past and present, for a company.

        In order to reduce the number of time off requests returned in a single response, or to retrieve time off requests from a time period of interest, you may use the `start_date` and `end_date` parameters.

        You may provide both or either parameters to scope the returned data. For example:

        `?start_date='2019-01-01'`

        Returns all time off requests where the request start date is equal to or after January 1, 2019.

        `?end_date='2019-01-01'`

        Returns all time off requests where the request end date is equal to or before January 1, 2019.

        `?start_date='2019-05-01'&end_date='2019-08-31'`

        Returns all time off requests where the request start date is equal to or after May 1, 2019 and the request end date is equal to or before August 31, 2019.
      parameters:
        - schema:
            type: string
            example: '"2019-05-01"'
          in: query
          name: start_date
          description: Filter time off requests where the request start date is equal to or after this parameter
        - schema:
            type: string
            example: '"2019-08-31"'
          in: query
          name: end_date
          description: Filter time off requests where the request end date is equal to or after this parameter
  /v1/me:
    get:
      summary: Get the current user
      tags:
        - Current User
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Current-User'
              examples:
                Example:
                  value:
                    id: 1409720965546346
                    email: torrance.considine1409720965546346@schuster.info
                    roles:
                      payroll_admin:
                        companies:
                          - id: 1409720965614302
                            name: Crist-Balistreri Group
                            tier: core
                            trade_name: Wyman and Sons LLC
                            locations:
                              - id: 1409721224078163
                                street_1: 63932 Jalyn Springs
                                street_2: Apt. 445
                                city: Cannon Beach
                                state: OR
                                zip: '97110'
                                country: USA
                                active: true
                              - id: 1409721315748742
                                street_1: 1152 River Villages
                                street_2: Apt. 563
                                city: Cannon Beach
                                state: OR
                                zip: '97110'
                                country: USA
                                active: true
      operationId: get-v1-me
      description: Returns information pertaining to the user associated with the provided access token.
  '/v1/employees/{employee_id}/home_address':
    parameters:
      - schema:
          type: string
        name: employee_id
        in: path
        required: true
        description: The ID of the employee
    get:
      summary: Get an employee's home address
      tags:
        - Employees
      responses:
        '200':
          $ref: '#/components/responses/Location-Object'
      operationId: get-v1-employees-employee_id-home_address
      description: The home address of an employee is used to determine certain tax information about them. Addresses are geocoded on create and update to ensure validity.
    put:
      summary: Update an employee's home address
      tags:
        - Employees
      responses:
        '200':
          $ref: '#/components/responses/Location-Object'
      operationId: put-v1-employees-employee_id-home_address
      description: The home address of an employee is used to determine certain tax information about them. Addresses are geocoded on create and update to ensure validity.
      requestBody:
        content:
          application/json:
            schema:
              description: ''
              type: object
              properties:
                version:
                  type: string
                  description: The current version of the object. See the versioning guide for information on how to use this field.
                street_1:
                  type: string
                street_2:
                  type: string
                  nullable: true
                city:
                  type: string
                state:
                  type: string
                zip:
                  type: string
              required:
                - version
            examples:
              Example:
                value:
                  version: fe75bd065ff48b91c35fe8ff842f986c
                  street_1: 300 3rd Street
                  street_2: null
                  city: San Francisco
                  state: CA
                  zip: '94107'
  '/v1/companies/{company_id}/pay_schedules':
    parameters:
      - schema:
          type: string
        name: company_id
        in: path
        required: true
        description: The ID of the company
    get:
      summary: Get the pay schedules for a company
      responses:
        '200':
          $ref: '#/components/responses/Pay-Schedule-List'
      operationId: get-v1-companies-company_id-pay_schedules
      description: The pay schedule object in Gusto captures the details of when employees work and when they should be paid. A company can have multiple pay schedules.
      tags:
        - Pay Schedules
  '/v1/companies/{company_id_or_uuid}/pay_schedules/{pay_schedule_id_or_uuid}':
    parameters:
      - schema:
          type: string
        name: company_id_or_uuid
        in: path
        required: true
        description: The ID or UUID of the company
      - schema:
          type: string
        name: pay_schedule_id_or_uuid
        in: path
        required: true
        description: The ID or UUID of the pay schedule
    get:
      summary: Get a pay schedule
      responses:
        '200':
          $ref: '#/components/responses/Pay-Schedule-Object'
      operationId: get-v1-companies-company_id-pay_schedules-pay_schedule_id
      description: The pay schedule object in Gusto captures the details of when employees work and when they should be paid. A company can have multiple pay schedules.
      tags:
        - Pay Schedules
    put:
      summary: Update a pay schedule
      tags:
        - Pay Schedules
      responses:
        '200':
          $ref: '#/components/responses/Pay-Schedule-Object'
      operationId: put-v1-companies-company_id-pay_schedules-pay_schedule_id
      description: |-
        Updates a pay schedule.

        This endpoint is in beta. Please contact developer-gws@gusto.com if you’d like to have more information and use it for production. Note, this may require you to enter a different agreement with Gusto
      requestBody:
        content:
          application/json:
            schema:
              description: ''
              type: object
              properties:
                version:
                  type: string
                  description: The current version of the object. See the versioning guide for information on how to use this field.
                auto_pilot:
                  type: boolean
                  description: 'With Autopilot® enabled, payroll will run automatically one day before your payroll deadlines.'
              required:
                - version
            examples:
              Example:
                value:
                  version: 98jr3289h3298hr9329gf9egskt3kagri32qqgiqe3872
                  auto_pilot: true
  '/v1/companies/{company_id_or_uuid}/bank_accounts':
    parameters:
      - schema:
          type: string
        name: company_id_or_uuid
        in: path
        required: true
        description: The ID or UUID of the company
    get:
      summary: Get all company bank accounts
      responses:
        '200':
          $ref: '#/components/responses/Company-Bank-Account-List'
      operationId: get-v1-companies-company_id-bank-accounts
      description: |-
        This endpoint is in beta and intended for **[Gusto Embedded Payroll](https://gusto.com/embedded-payroll)** customers. Please [apply for early access](https://gusto-embedded-payroll.typeform.com/to/iomAQIj3?utm_source=docs) if you’d like to learn more and use it for production. Note, this endpoint will require you to enter a different agreement with Gusto.

        Returns all company bank accounts
      tags:
        - Company Bank Accounts (Beta)
    post:
      summary: Create a company bank account
      operationId: post-v1-companies-company_id-bank-accounts
      tags:
        - Company Bank Accounts (Beta)
      responses:
        '201':
          $ref: '#/components/responses/Company-Bank-Account-Object'
      description: |-
        This endpoint is in beta and intended for **[Gusto Embedded Payroll](https://gusto.com/embedded-payroll)** customers. Please [apply for early access](https://gusto-embedded-payroll.typeform.com/to/iomAQIj3?utm_source=docs) if you’d like to learn more and use it for production. Note, this endpoint will require you to enter a different agreement with Gusto.

        Create a company bank account. The new bank account will replace an existing bank account as the default company funding method.
      requestBody:
        content:
          application/json:
            schema:
              description: ''
              type: object
              properties:
                routing_number:
                  type: string
                  nullable: false
                  description: The bank routing number
                account_number:
                  type: string
                  nullable: false
                  description: The bank account number
                account_type:
                  type: string
                  nullable: false
                  description: The bank account type
                  enum:
                    - Checking
                    - Savings
            examples:
              Example:
                value:
                  routing_number: '115092013'
                  account_type: Checking
                  account_number: '9775014007'
  '/v1/companies/{company_id_or_uuid}/bank_accounts/{bank_account_uuid}/verify':
    parameters:
      - schema:
          type: string
        name: company_id_or_uuid
        in: path
        required: true
        description: The ID or UUID of the bank account
      - schema:
          type: string
        name: bank_account_uuid
        in: path
        required: true
        description: Bank account UUID
    put:
      summary: Verify a company bank account
      operationId: put-v1-companies-company_id-bank-accounts-verify
      tags:
        - Company Bank Accounts (Beta)
      responses:
        '200':
          $ref: '#/components/responses/Company-Bank-Account-Object'
      description: |-
        This endpoint is in beta and intended for **[Gusto Embedded Payroll](https://gusto.com/embedded-payroll)** customers. Please [apply for early access](https://gusto-embedded-payroll.typeform.com/to/iomAQIj3?utm_source=docs) if you’d like to learn more and use it for production. Note, this endpoint will require you to enter a different agreement with Gusto.

        Verify a company bank account by confirming the two micro-deposits sent to the bank account. Note that the order of the two deposits specified in request parameters does not matter.
      requestBody:
        content:
          application/json:
            schema:
              description: ''
              type: object
              properties:
                deposit_1:
                  type: number
                  nullable: false
                  description: The dollar amount of the first micro-deposit
                deposit_2:
                  type: number
                  nullable: false
                  description: The dollar amount of the second micro-deposit
            examples:
              Example:
                value:
                  deposit_1: 0.02
                  deposit_2: 0.42
  /v1/benefits:
    get:
      summary: Get all benefits supported by Gusto
      responses:
        '200':
          $ref: '#/components/responses/Supported-Benefit-List'
      operationId: get-v1-benefits
      description: |-
        Returns all benefits supported by Gusto.

        The benefit object in Gusto contains high level information about a particular benefit type and its tax considerations. When companies choose to offer a benefit, they are creating a Company Benefit object associated with a particular benefit.
      tags:
        - Benefits
  '/v1/benefits/{benefit_id}':
    parameters:
      - schema:
          type: string
        name: benefit_id
        in: path
        required: true
        description: The ID of the benefit
    get:
      operationId: get-v1-benefits-benefit_id
      summary: Get a supported benefit by ID
      description: |-
        Returns a benefit supported by Gusto.

        The benefit object in Gusto contains high level information about a particular benefit type and its tax considerations. When companies choose to offer a benefit, they are creating a Company Benefit object associated with a particular benefit.
      tags:
        - Benefits
      responses:
        '200':
          $ref: '#/components/responses/Supported-Benefit-Object'
  '/v1/companies/{company_id}/company_benefits':
    parameters:
      - schema:
          type: string
        name: company_id
        in: path
        required: true
        description: The ID of the company
    get:
      summary: Get benefits for a company
      x-tags:
        - Benefits
      responses:
        '200':
          $ref: '#/components/responses/Company-Benefit-List'
      operationId: get-v1-companies-company_id-company_benefits
      description: |-
        Company benefits represent the benefits that a company is offering to employees. This ties together a particular supported benefit with the company-specific information for the offering of that benefit.

        Note that company benefits can be deactivated only when no employees are enrolled.
    post:
      summary: Create a company benefit
      tags:
        - Benefits
      responses:
        '201':
          $ref: '#/components/responses/Company-Benefit-Object'
      operationId: post-v1-companies-company_id-company_benefits
      description: |-
        Company benefits represent the benefits that a company is offering to employees. This ties together a particular supported benefit with the company-specific information for the offering of that benefit.

        Note that company benefits can be deactivated only when no employees are enrolled.
      requestBody:
        content:
          application/json:
            schema:
              description: ''
              type: object
              properties:
                benefit_id:
                  type: number
                  description: The ID of the benefit to which the company benefit belongs.
                active:
                  type: boolean
                  default: true
                  description: Whether this benefit is active for employee participation.
                description:
                  type: string
                  description: 'The description of the company benefit.For example, a company may offer multiple benefits with an ID of 1 (for Medical Insurance). The description would show something more specific like “Kaiser Permanente” or “Blue Cross/ Blue Shield”.'
                responsible_for_employer_taxes:
                  type: boolean
                  description: Whether the employer is subject to pay employer taxes when an employee is on leave. Only applicable to third party sick pay benefits.
                responsible_for_employee_w2:
                  type: boolean
                  description: Whether the employer is subject to file W-2 forms for an employee on leave. Only applicable to third party sick pay benefits.
              required:
                - benefit_id
                - description
  '/v1/company_benefits/{company_benefit_id}':
    parameters:
      - schema:
          type: string
        name: company_benefit_id
        in: path
        required: true
        description: The ID of the company benefit
    get:
      summary: Get a company benefit
      tags:
        - Benefits
      responses:
        '200':
          $ref: '#/components/responses/Company-Benefit-Object'
      operationId: get-v1-company_benefits-company_benefit_id
      description: |-
        Company benefits represent the benefits that a company is offering to employees. This ties together a particular supported benefit with the company-specific information for the offering of that benefit.

        Note that company benefits can be deactivated only when no employees are enrolled.
    put:
      summary: Update a company benefit
      tags:
        - Benefits
      responses:
        '200':
          $ref: '#/components/responses/Company-Benefit-Object'
      operationId: put-v1-company_benefits-company_benefit_id
      description: |-
        Company benefits represent the benefits that a company is offering to employees. This ties together a particular supported benefit with the company-specific information for the offering of that benefit.

        Note that company benefits can be deactivated only when no employees are enrolled.
      requestBody:
        content:
          application/json:
            schema:
              description: ''
              type: object
              properties:
                version:
                  type: string
                  description: The current version of the object. See the versioning guide for information on how to use this field.
                  readOnly: true
                active:
                  type: boolean
                  description: Whether this benefit is active for employee participation. Company benefits may only be deactivated if no employees are actively participating.
                description:
                  type: string
                  description: 'The description of the company benefit.For example, a company may offer multiple benefits with an ID of 1 (for Medical Insurance). The description would show something more specific like “Kaiser Permanente” or “Blue Cross/ Blue Shield”.'
              required:
                - version
            examples:
              Example:
                value:
                  version: 98jr3289h3298hr9329gf9egskt3kagri32qqgiqe3872
                  active: false
  '/v1/companies/{company_id}/earning_types':
    parameters:
      - schema:
          type: string
        name: company_id
        in: path
        required: true
        description: The ID of the company
    get:
      summary: Get all earning types for a company
      tags:
        - Earning Type
      responses:
        '200':
          $ref: '#/components/responses/Earning-Type-List'
      operationId: get-v1-companies-company_id-earning_types
      description: |-
        A payroll item in Gusto is associated to an earning type to name the type of earning described by the payroll item.

        #### Default Earning Type
        Certain earning types are special because they have tax considerations. Those earning types are mostly the same for every company depending on its legal structure (LLC, Corporation, etc.)

        #### Custom Earning Type
        Custom earning types are all the other earning types added specifically for a company.
    post:
      summary: Create a custom earning type
      tags:
        - Earning Type
      responses:
        '201':
          $ref: '#/components/responses/Earning-Type-Object'
      operationId: post-v1-companies-company_id-earning_types
      description: |-
        Create a custom earning type.

        If an inactive earning type exists with the same name, this will reactivate it instead of creating a new one.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: The name of the custom earning type.
              required:
                - name
            examples:
              Example:
                value:
                  name: Gym Membership Stipend
  '/v1/companies/{company_id}/earning_types/{earning_type_uuid}':
    parameters:
      - schema:
          type: string
        name: company_id
        in: path
        required: true
        description: The ID of the company
      - schema:
          type: string
        name: earning_type_uuid
        in: path
        required: true
        description: The UUID of the earning type
    put:
      summary: Update an earning type
      tags:
        - Earning Type
      responses:
        '200':
          $ref: '#/components/responses/Earning-Type-Object'
      operationId: put-v1-companies-company_id-earning_types-earning_type_uuid
      description: Update an earning type.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: The name of the custom earning type.
            examples:
              Example:
                value:
                  name: Gym Membership Stipend
    delete:
      summary: Deactivate an earning type
      tags:
        - Earning Type
      responses:
        '204':
          description: No Content
      operationId: delete-v1-companies-company_id-earning_types-earning_type_uuid
      description: Deactivate an earning type.
  '/v1/employees/{employee_id}/employee_benefits':
    parameters:
      - schema:
          type: string
        name: employee_id
        in: path
        required: true
        description: The ID of the employee
    get:
      summary: Get an employee's benefits
      tags:
        - Benefits
      responses:
        '200':
          $ref: '#/components/responses/Employee-Benefit-List'
      operationId: get-v1-employees-employee_id-employee_benefits
      description: |-
        Employee benefits represent an employee enrolled in a particular company benefit. It includes information specific to that employee’s enrollment.

        Returns an array of all employee benefits for this employee
    post:
      summary: Create an employee benefit
      tags:
        - Benefits
      responses:
        '201':
          $ref: '#/components/responses/Employee-Benefit-Object'
      operationId: post-v1-employees-employee_id-employee_benefits
      description: Employee benefits represent an employee enrolled in a particular company benefit. It includes information specific to that employee’s enrollment.
      requestBody:
        content:
          application/json:
            schema:
              description: ''
              type: object
              properties:
                company_benefit_id:
                  type: number
                  description: The ID of the company to which the benefit belongs.
                  readOnly: true
                active:
                  type: boolean
                  default: true
                  description: Whether the employee benefit is active.
                employee_deduction:
                  type: string
                  default: '0.00'
                  description: 'The amount to be deducted, per pay period, from the employee''s pay.'
                company_contribution:
                  type: string
                  default: '0.00'
                  description: 'The amount to be paid, per pay period, by the company.'
                employee_deduction_annual_maximum:
                  type: string
                  nullable: true
                  description: The maximum employee deduction amount per year. A null value signifies no limit.
                company_contribution_annual_maximum:
                  type: string
                  nullable: true
                  description: The maximum company contribution amount per year. A null value signifies no limit.
                limit_option:
                  type: string
                  nullable: true
                  description: 'Some benefits require additional information to determine their limit. For example, for an HSA benefit, the limit option should be either "Family" or "Individual". For a Dependent Care FSA benefit, the limit option should be either "Joint Filing or Single" or "Married and Filing Separately".'
                deduct_as_percentage:
                  type: boolean
                  default: false
                  description: Whether the employee deduction amount should be treated as a percentage to be deducted from each payroll.
                contribute_as_percentage:
                  type: boolean
                  default: false
                  description: Whether the company contribution amount should be treated as a percentage to be deducted from each payroll.
                catch_up:
                  type: boolean
                  default: false
                  description: Whether the employee should use a benefit’s "catch up" rate. Only Roth 401k and 401k benefits use this value for employees over 50.
                coverage_amount:
                  type: string
                  nullable: true
                  description: 'The amount that the employee is insured for. Note: company contribution cannot be present if coverage amount is set.'
                deduction_reduces_taxable_income:
                  type: string
                  nullable: true
                  enum:
                    - unset
                    - reduces_taxable_income
                    - does_not_reduce_taxable_income
                    - null
                  description: 'Whether the employee deduction reduces taxable income or not. Only valid for Group Term Life benefits. Note: when the value is not "unset", coverage amount and coverage salary multiplier are ignored.'
                coverage_salary_multiplier:
                  type: string
                  default: '0.00'
                  description: 'The coverage amount as a multiple of the employee’s salary. Only applicable for Group Term Life benefits. Note: cannot be set if coverage amount is also set.'
              required:
                - company_benefit_id
            examples:
              Example:
                value:
                  company_benefit_id: 290384923980230
                  active: true
                  employee_deduction: '100.00'
                  company_contribution: '100.00'
        description: ''
  '/v1/employees/{employee_id}/ytd_benefit_amounts_from_different_company':
    parameters:
      - schema:
          type: string
        name: employee_id
        in: path
        required: true
        description: The ID of the employee
    post:
      summary: Year-to-date Benefit Amounts from Different Company
      tags:
        - Benefits
      operationId: post-employee-ytd-benefit-amounts-from-different-company
      description: 'Year-to-date benefit amounts from a different company represents the amount of money added to an employees plan during a current year, made outside of the current contribution when they were employed at a different company.'
      requestBody:
        $ref: '#/components/requestBodies/post-employee-ytd-benefit-amounts-from-different-company'
      responses:
        '204':
          description: No Content
  '/v1/employee_benefits/{employee_benefit_id}':
    parameters:
      - schema:
          type: string
        name: employee_benefit_id
        in: path
        required: true
        description: The ID of the employee benefit
    get:
      summary: Get an employee benefit
      tags:
        - Benefits
      responses:
        '200':
          $ref: '#/components/responses/Employee-Benefit-Object'
      operationId: get-v1-employee_benefits-employee_benefit_id
      description: Employee benefits represent an employee enrolled in a particular company benefit. It includes information specific to that employee’s enrollment.
    put:
      summary: Update an employee benefit
      tags:
        - Benefits
      responses:
        '200':
          $ref: '#/components/responses/Employee-Benefit-Object'
      operationId: put-v1-employee_benefits-employee_benefit_id
      description: Employee benefits represent an employee enrolled in a particular company benefit. It includes information specific to that employee’s enrollment.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                version:
                  type: string
                  description: The current version of the object. See the versioning guide for information on how to use this field.
                  readOnly: true
                active:
                  type: boolean
                  default: true
                  description: Whether the employee benefit is active.
                employee_deduction:
                  type: string
                  default: '0.00'
                  description: 'The amount to be deducted, per pay period, from the employee''s pay.'
                company_contribution:
                  type: string
                  default: '0.00'
                  description: 'The amount to be paid, per pay period, by the company.'
                employee_deduction_annual_maximum:
                  type: string
                  nullable: true
                  description: The maximum employee deduction amount per year. A null value signifies no limit.
                company_contribution_annual_maximum:
                  type: string
                  nullable: true
                  description: The maximum company contribution amount per year. A null value signifies no limit.
                limit_option:
                  type: string
                  nullable: true
                  description: 'Some benefits require additional information to determine their limit. For example, for an HSA benefit, the limit option should be either "Family" or "Individual". For a Dependent Care FSA benefit, the limit option should be either "Joint Filing or Single" or "Married and Filing Separately".'
                deduct_as_percentage:
                  type: boolean
                  default: false
                  description: Whether the employee deduction amount should be treated as a percentage to be deducted from each payroll.
                contribute_as_percentage:
                  type: boolean
                  default: false
                  description: Whether the company contribution amount should be treated as a percentage to be deducted from each payroll.
                catch_up:
                  type: boolean
                  default: false
                  description: Whether the employee should use a benefit’s "catch up" rate. Only Roth 401k and 401k benefits use this value for employees over 50.
                coverage_amount:
                  type: string
                  nullable: true
                  description: 'The amount that the employee is insured for. Note: company contribution cannot be present if coverage amount is set.'
                deduction_reduces_taxable_income:
                  type: string
                  nullable: true
                  default: unset
                  enum:
                    - unset
                    - reduces_taxable_income
                    - does_not_reduce_taxable_income
                    - null
                  description: 'Whether the employee deduction reduces taxable income or not. Only valid for Group Term Life benefits. Note: when the value is not "unset", coverage amount and coverage salary multiplier are ignored.'
                coverage_salary_multiplier:
                  type: string
                  default: '0.00'
                  description: 'The coverage amount as a multiple of the employee’s salary. Only applicable for Group Term Life benefits. Note: cannot be set if coverage amount is also set.'
              required:
                - version
            examples:
              Example:
                value:
                  version: 09j3d29jqdpj92109j9j2d90dq
                  employee_deduction: '250.00'
    delete:
      summary: Delete an employee benefit
      tags:
        - Benefits
      responses:
        '204':
          description: No Content
      operationId: delete-v1-employee_benefits-employee_benefit_id
      description: Employee benefits represent an employee enrolled in a particular company benefit. It includes information specific to that employee’s enrollment.
  '/v1/companies/{company_id_or_uuid}/pay_periods':
    parameters:
      - schema:
          type: string
        name: company_id_or_uuid
        in: path
        required: true
        description: The ID or UUID of the company
    get:
      summary: Get pay periods for a company
      tags:
        - Payroll
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Pay-Period'
              examples:
                Example:
                  value:
                    - start_date: '2020-12-12'
                      end_date: '2020-12-25'
                      pay_schedule_id: 1409756036510222
                      pay_schedule_uuid: 00ebc4a4-ec88-4435-8f45-c505bb63e501
                      eligible_employees:
                        - id: 1409722316858016
                          job_ids:
                            - 1409722316881160
                        - id: 7740244452464965
                          job_ids:
                            - 7740244454306064
                        - id: 7757869431131641
                          job_ids:
                            - 7757869439389315
                      payroll:
                        processed: true
                        payroll_deadline: '2020-12-28'
                    - start_date: '2020-12-26'
                      end_date: '2021-01-08'
                      pay_schedule_id: 1409756036510222
                      pay_schedule_uuid: 00ebc4a4-ec88-4435-8f45-c505bb63e501
                      eligible_employees:
                        - id: 1409722316858016
                          job_ids:
                            - 1409722316881160
                        - id: 7740244452464965
                          job_ids:
                            - 7740244454306064
                        - id: 7757869431131641
                          job_ids:
                            - 7757869439389315
                      payroll:
                        processed: true
                        payroll_deadline: '2021-01-12'
                    - start_date: '2021-01-09'
                      end_date: '2021-01-22'
                      pay_schedule_id: 1409756036510222
                      pay_schedule_uuid: 00ebc4a4-ec88-4435-8f45-c505bb63e501
                      eligible_employees:
                        - id: 1409722316858016
                          job_ids:
                            - 1409722316881160
                        - id: 7740244452464965
                          job_ids:
                            - 7740244454306064
                      payroll:
                        processed: true
                        payroll_deadline: '2021-01-26'
                    - start_date: '2021-01-23'
                      end_date: '2021-02-05'
                      pay_schedule_id: 1409756036510222
                      pay_schedule_uuid: 00ebc4a4-ec88-4435-8f45-c505bb63e501
                      eligible_employees:
                        - id: 1409722316858016
                          job_ids:
                            - 1409722316881160
                        - id: 7740244452464965
                          job_ids:
                            - 7740244454306064
                      payroll:
                        processed: false
                        payroll_deadline: '2021-02-09'
                    - start_date: '2021-02-06'
                      end_date: '2021-02-19'
                      pay_schedule_id: 1409756036510222
                      pay_schedule_uuid: 00ebc4a4-ec88-4435-8f45-c505bb63e501
                      eligible_employees:
                        - id: 1409722316858016
                          job_ids:
                            - 1409722316881160
                        - id: 7740244452464965
                          job_ids:
                            - 7740244454306064
                      payroll:
                        processed: false
                        payroll_deadline: '2021-02-23'
      operationId: get-v1-companies-company_id-pay_periods
      description: |-
        Pay periods are the foundation of payroll. Compensation, time & attendance, taxes, and expense reports all rely on when they happened. To begin submitting information for a given payroll, we need to agree on the time period.


        By default, this endpoint returns every current and past pay period for a company. Since companies can process payroll as often as every week, there can be up to 53 pay periods a year. If a company has been running payroll with Gusto for five years, this endpoint could return up to 265 pay periods. Use the `start_date` and `end_date` parameters to reduce the scope of the response.
      parameters:
        - schema:
            type: string
            example: '2020-01-01'
          in: query
          name: start_date
        - schema:
            type: string
            example: '2020-01-31'
          in: query
          name: end_date
  '/v1/companies/{company_id_or_uuid}/payrolls':
    parameters:
      - schema:
          type: string
        name: company_id_or_uuid
        in: path
        description: The ID or UUID of the company
        required: true
    get:
      summary: Get all payrolls for a company
      tags:
        - Payroll
      responses:
        '200':
          $ref: '#/components/responses/Payroll-List'
      operationId: get-v1-companies-company_id-payrolls
      description: |-
        Returns all payrolls, current and past for a company.

        Notes:
        * Hour and dollar amounts are returned as string representations of numeric decimals.
        * Hours are represented to the thousands place; dollar amounts are represented to the cent.
        * Every eligible compensation is returned for each employee. If no data has yet be inserted for a given field, it defaults to “0.00” (for fixed amounts) or “0.000” (for hours ).
      parameters:
        - schema:
            type: boolean
          in: query
          name: processed
          description: Whether to return processed or unprocessed payrolls
        - schema:
            type: boolean
          in: query
          name: include_off_cycle
          description: Whether to include off cycle payrolls in the response
        - schema:
            type: array
            items:
              type: string
              enum:
                - benefits
                - deductions
                - taxes
          in: query
          name: include
          description: Include the requested attribute in the employee_compensations attribute in the response
        - schema:
            type: string
          in: query
          name: start_date
          description: Return payrolls whose pay period is after the start date
        - schema:
            type: string
          in: query
          name: end_date
          description: Return payrolls whose pay period is before the end date
    post:
      summary: Create an Off-Cycle Payroll (Beta)
      tags:
        - Payroll
      responses:
        '200':
          $ref: '#/components/responses/Payroll-Object'
      operationId: post-v1-companies-company_id-payrolls
      description: |-
        This endpoint is in beta and intended for **[Gusto Embedded Payroll](https://gusto.com/embedded-payroll)** customers. Please [apply for early access](https://gusto-embedded-payroll.typeform.com/to/iomAQIj3?utm_source=docs) if you’d like to learn more and use it for production. Note, this endpoint will require you to enter a different agreement with Gusto.

        Creates a new, unprocessed, off-cycle payroll.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                off_cycle:
                  type: string
                off_cycle_reason:
                  type: string
                  enum:
                    - Bonus
                    - Correction
                start_date:
                  type: string
                end_date:
                  type: string
                employee_ids:
                  type: array
                  items:
                    type: integer
                check_date:
                  type: string
              required:
                - off_cycle
  '/v1/companies/{company_id_or_uuid}/payrolls/{payroll_id_or_uuid}':
    parameters:
      - schema:
          type: string
        name: company_id_or_uuid
        in: path
        required: true
        description: The ID or UUID of the company
      - schema:
          type: string
        name: payroll_id_or_uuid
        in: path
        required: true
        description: 'The ID or UUID of the payroll '
    put:
      summary: Update a payroll by ID
      tags:
        - Payroll
      responses:
        '200':
          $ref: '#/components/responses/Payroll-Object'
      operationId: put-v1-companies-company_id-payrolls
      description: This endpoint allows you to update information for one or more employees for a specific **unprocessed** payroll.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                version:
                  type: string
                  description: The current version of the object. See the versioning guide for details using this field.
                employee_compensations:
                  type: array
                  items:
                    type: object
                    required:
                      - employee_id
                    description: ''
                    properties:
                      employee_id:
                        type: integer
                        description: The ID of the employee.
                      fixed_compensations:
                        type: array
                        items:
                          type: object
                          description: 'An array of fixed compensations for the employee. Fixed compensations include tips, bonuses, and one time reimbursements.'
                          properties:
                            name:
                              type: string
                              description: 'The name of the compensation. This also serves as the unique, immutable identifier for this compensation.'
                            amount:
                              type: string
                              description: The amount of the compensation for the pay period.
                            job_id:
                              type: integer
                              description: The ID of the job for the compensation.
                      hourly_compensations:
                        type: array
                        items:
                          type: object
                          description: 'An array of hourly compensations for the employee. Hourly compensations include regular, overtime, and double overtime hours.'
                          properties:
                            name:
                              type: string
                              description: 'The name of the compensation. This also serves as the unique, immutable identifier for this compensation.'
                            hours:
                              type: string
                              description: The number of hours to be compensated for this pay period.
                            job_id:
                              type: integer
                              description: The ID of the job for the compensation.
                      paid_time_off:
                        type: array
                        description: An array of all paid time off the employee is eligible for this pay period.
                        items:
                          type: object
                          properties:
                            name:
                              type: string
                              description: 'The name of the PTO. This also serves as the unique, immutable identifier for the PTO.'
                            hours:
                              type: string
                              description: The hours of this PTO taken during the pay period.
              required:
                - version
                - employee_compensations
            examples:
              Example:
                value:
                  version: 19289df18e6e20f797de4a585ea5a91535c7ddf7
                  employee_compensations:
                    - employee_id: 1123581321345589
                      fixed_compensations:
                        - name: Bonus
                          amount: '200.00'
                          job_id: 1
                      hourly_compensations:
                        - name: Regular Hours
                          hours: '30.000'
                          job_id: 1
                        - name: Double Overtime
                          hours: '20.000'
                          job_id: 1
                        - name: Overtime
                          hours: '10.000'
                          job_id: 2
                      paid_time_off:
                        - name: Vacation Hours
                          hours: '25.000'
                        - name: Sick Hours
                          hours: '10.000'
                        - name: Holiday Hours
                          hours: '8.000'
    get:
      summary: Get a single payroll
      tags:
        - Payroll
      responses:
        '200':
          $ref: '#/components/responses/Payroll-Object'
      operationId: get-v1-companies-company_id-payrolls-payroll_id
      description: |-
        Returns a payroll.

        Notes:
        * Hour and dollar amounts are returned as string representations of numeric decimals.
        * Hours are represented to the thousands place; dollar amounts are represented to the cent.
        * Every eligible compensation is returned for each employee. If no data has yet be inserted for a given field, it defaults to “0.00” (for fixed amounts) or “0.000” (for hours ).
      parameters:
        - schema:
            type: string
            enum:
              - benefits
              - deductions
              - taxes
          in: query
          name: include
          description: Include the requested attribute in the employee_compensations attribute in the response
        - schema:
            type: string
          in: query
          name: show_calculation
          description: 'with `include`, shows the tax, and/or benefit, and/or deduction details for a calculated, unprocessed payroll. '
  '/v1/companies/{company_id_or_uuid}/payrolls/{pay_period_start_date}/{pay_period_end_date}':
    parameters:
      - schema:
          type: string
        name: company_id_or_uuid
        in: path
        required: true
        description: The ID or UUID of the company
      - schema:
          type: string
        name: pay_period_start_date
        in: path
        required: true
        description: The start_date of the pay period for the payroll
      - schema:
          type: string
        name: pay_period_end_date
        in: path
        required: true
        description: The end_date of the pay period for the payroll
    put:
      summary: Update a payroll
      tags:
        - Payroll
      responses:
        '200':
          $ref: '#/components/responses/Payroll-Object'
      operationId: put-v1-companies-company_id-payrolls-pay_period_start_date-pay_period_end_date
      description: |-
        This endpoint allows you to update information for one or more employees for a specific **unprocessed** payroll.

        The payrolls are identified by their pay periods’ start_date and end_date. Both are required and must correspond with an existing, unprocessed payroll. *If the dates do not match, the entire request will be rejected.* This was an explicit design decision to remove any assumptions around the timespan for data sent.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                version:
                  type: string
                  description: The current version of the object. See the versioning guide for details using this field.
                employee_compensations:
                  type: array
                  items:
                    type: object
                    required:
                      - employee_id
                    description: ''
                    properties:
                      employee_id:
                        type: integer
                        description: The ID of the employee.
                      fixed_compensations:
                        type: array
                        items:
                          type: object
                          description: 'An array of fixed compensations for the employee. Fixed compensations include tips, bonuses, and one time reimbursements.'
                          properties:
                            name:
                              type: string
                              description: 'The name of the compensation. This also serves as the unique, immutable identifier for this compensation.'
                            amount:
                              type: string
                              description: The amount of the compensation for the pay period.
                            job_id:
                              type: integer
                              description: The ID of the job for the compensation.
                      hourly_compensations:
                        type: array
                        items:
                          type: object
                          description: 'An array of hourly compensations for the employee. Hourly compensations include regular, overtime, and double overtime hours.'
                          properties:
                            name:
                              type: string
                              description: 'The name of the compensation. This also serves as the unique, immutable identifier for this compensation.'
                            hours:
                              type: string
                              description: The number of hours to be compensated for this pay period.
                            job_id:
                              type: integer
                              description: The ID of the job for the compensation.
                      paid_time_off:
                        type: array
                        description: An array of all paid time off the employee is eligible for this pay period.
                        items:
                          type: object
                          properties:
                            name:
                              type: string
                              description: 'The name of the PTO. This also serves as the unique, immutable identifier for the PTO.'
[...]
