{
  "openapi": "3.0.0",
  "info": {
    "title": "Ramp developer",
    "version": "1.0",
    "description": "Ramp's developer API makes it easier for companies to programmatically set up and manage their card program.\n\nIt provides the ability to automate card issuing and the ability to integrate features like reporting with other software platforms.",
    "termsOfService": "https://ramp.com/developer-agreement"
  },
  "servers": [
    {
      "url": "https://api.ramp.com/developer/v1"
    }
  ],
  "paths": {
    "/users/{id}": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "summary": "Get User Info by User ID",
        "tags": [
          "User"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Ramp User",
                  "type": "object",
                  "title": "User",
                  "x-examples": {
                    "example-1": {
                      "id": "497f6eca-6276-4993-bfeb-53cbbbba6f08",
                      "email": "user@example.com",
                      "first_name": "string",
                      "last_name": "string",
                      "role": "BUSINESS_ADMIN",
                      "phone": "string",
                      "deleted": true,
                      "location_id": null,
                      "department_id": null,
                      "manager_id": null,
                      "business_id": "f59fcbb7-848d-4242-af07-a8bb7e3ab37c"
                    }
                  },
                  "properties": {
                    "id": {
                      "type": "string",
                      "minLength": 1,
                      "format": "uuid"
                    },
                    "email": {
                      "type": "string",
                      "minLength": 1,
                      "format": "email"
                    },
                    "first_name": {
                      "type": "string",
                      "minLength": 1
                    },
                    "last_name": {
                      "type": "string",
                      "minLength": 1
                    },
                    "role": {
                      "type": "string",
                      "minLength": 1,
                      "enum": [
                        "BUSINESS_ADMIN",
                        "BUSINESS_USER",
                        "BUSINESS_OWNER",
                        "BUSINESS_BOOKKEEPER"
                      ]
                    },
                    "phone": {
                      "type": "string",
                      "minLength": 1
                    },
                    "amount_limit": {
                      "type": "string"
                    },
                    "location_id": {
                      "type": "string",
                      "nullable": true,
                      "format": "uuid"
                    },
                    "department_id": {
                      "type": "string",
                      "nullable": true,
                      "format": "uuid"
                    },
                    "manager_id": {
                      "type": "string",
                      "nullable": true,
                      "format": "uuid"
                    },
                    "business_id": {
                      "type": "string",
                      "format": "uuid"
                    }
                  },
                  "required": [
                    "id",
                    "email",
                    "first_name",
                    "last_name",
                    "role",
                    "phone",
                    "amount_limit"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Standard error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "details": {
                          "type": "object",
                          "description": "Extra metadata about the error, may be empty. Usually depends on the error type."
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "error": {
                        "message": "string",
                        "details": {}
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Standard error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "details": {
                          "type": "object",
                          "description": "Extra metadata about the error, may be empty. Usually depends on the error type."
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "error": {
                        "message": "string",
                        "details": {}
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get-users-userId",
        "description": "Retrieve the information of the user with the matching user ID.",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "Bearer x1x1x1x1x1x1x1x1x1x1"
            },
            "description": "The OAuth2 token header",
            "required": true
          }
        ],
        "security": [
          {
            "OAuth 2.0": [
              "users:read"
            ]
          }
        ]
      },
      "patch": {
        "summary": "Modify Existing User",
        "operationId": "patch-users-id",
        "responses": {
          "200": {
            "description": "OK"
          },
          "404": {
            "description": "Not Found"
          },
          "422": {
            "description": "Unprocessable Entity (WebDAV)"
          }
        },
        "description": "Modify information about a user.",
        "security": [
          {
            "OAuth 2.0": [
              "users:write"
            ]
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "role": {
                    "type": "string",
                    "enum": [
                      "BUSINESS_USER",
                      "BUSINESS_BOOKKEEPER",
                      "BUSINESS_ADMIN",
                      "BUSINESS_OWNER"
                    ]
                  },
                  "department_id": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "location_id": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "direct_manager_id": {
                    "type": "string",
                    "format": "uuid"
                  }
                }
              }
            }
          }
        },
        "tags": [
          "User"
        ]
      },
      "delete": {
        "summary": "Suspend a user",
        "operationId": "delete-users-id",
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "description": "Suspends a user. Does not delete the user's cards. Currently this action is not reversible.",
        "security": [
          {
            "OAuth 2.0": [
              "users:write"
            ]
          }
        ],
        "tags": [
          "User"
        ]
      }
    },
    "/transactions": {
      "get": {
        "summary": "List transactions",
        "tags": [
          "Transaction"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "page": {
                      "type": "object",
                      "properties": {
                        "next": {
                          "type": "string",
                          "format": "uri"
                        }
                      }
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "description": "Ramp transaction",
                        "type": "object",
                        "x-examples": {
                          "example-1": {
                            "amount": 0,
                            "card_holder": {
                              "location_name": "string",
                              "location_id": "46910cc3-ab41-4b80-b4a7-94dab9f1b795",
                              "department_name": "string",
                              "department_id": "094fb5f1-8160-46ea-8cec-010c4b44e054",
                              "first_name": "string",
                              "last_name": "string"
                            },
                            "card_id": "66f6e46c-f6a1-4af8-a1bd-49666bc01304",
                            "id": "497f6eca-6276-4993-bfeb-53cbbbba6f08",
                            "merchant_id": 0,
                            "merchant_name": "string",
                            "sk_category_id": 0,
                            "sk_category_name": "string",
                            "state": "string",
                            "user_transaction_time": "2019-08-24T14:15:22Z",
                            "receipts": [
                              "66f6e46c-f6a1-4af8-a1bd-49666bcXXXXX"
                            ],
                            "policy_violations": [
                              {
                                "created_at": "2019-08-28T14:15:22Z",
                                "type": "POLICY_VIOLATION_FROM_USER",
                                "id": "66f67777-f6a1-4af8-XXXX-49666bcXXXXX",
                                "memo": "Sorry! This is a personal charge."
                              }
                            ],
                            "disputes": [
                              {
                                "created_at": "2019-08-28T14:15:22Z",
                                "type": "MERCHANT_ERROR",
                                "id": "66f6e46c-f6a1-4af8-XXXX-49666bcXXXXX",
                                "memo": "Order was canceled."
                              },
                              {
                                "created_at": "2019-08-29T16:16:26Z",
                                "type": "DISPUTE_CANCELLED",
                                "id": "66666666-f6a1-4af8-XXXX-49666bcXXXXX",
                                "memo": null
                              }
                            ],
                            "accounting_categories": [
                              {
                                "category_id": "123",
                                "category_name": "Office supplies"
                              }
                            ],
                            "memo": "string"
                          }
                        },
                        "x-tags": [
                          "Transaction"
                        ],
                        "title": "Transaction",
                        "examples": [
                          {
                            "amount": 0,
                            "cardholder": {
                              "location_name": "string",
                              "location_id": "46910cc3-ab41-4b80-b4a7-94dab9f1b795",
                              "department_name": "string",
                              "department_id": "094fb5f1-8160-46ea-8cec-010c4b44e054",
                              "first_name": "string",
                              "last_name": "string"
                            },
                            "card_id": "66f6e46c-f6a1-4af8-a1bd-49666bc01304",
                            "id": "497f6eca-6276-4993-bfeb-53cbbbba6f08",
                            "merchant_id": "500924a8-3f5e-4c00-beb8-2efcde988aea",
                            "merchant_name": "string",
                            "sk_category_id": 0,
                            "sk_category_name": "string",
                            "state": "string",
                            "user_transaction_time": "2019-08-24T14:15:22Z",
                            "receipts": [
                              "66f6e46c-f6a1-4af8-a1bd-49666bcXXXXX"
                            ],
                            "policy_violations": [
                              {
                                "created_at": "2019-08-28T14:15:22Z",
                                "type": "POLICY_VIOLATION_FROM_USER",
                                "id": "66f67777-f6a1-4af8-XXXX-49666bcXXXXX",
                                "memo": "Sorry! This is a personal charge."
                              }
                            ],
                            "disputes": [
                              {
                                "created_at": "2019-08-28T14:15:22Z",
                                "type": "MERCHANT_ERROR",
                                "id": "66f6e46c-f6a1-4af8-XXXX-49666bcXXXXX",
                                "memo": "Order was canceled."
                              },
                              {
                                "created_at": "2019-08-29T16:16:26Z",
                                "type": "DISPUTE_CANCELLED",
                                "id": "66666666-f6a1-4af8-XXXX-49666bcXXXXX",
                                "memo": null
                              }
                            ],
                            "accounting_categories": [
                              {
                                "category_id": "123",
                                "category_name": "Office supplies"
                              }
                            ]
                          }
                        ],
                        "properties": {
                          "amount": {
                            "type": "number"
                          },
                          "card_holder": {
                            "type": "object",
                            "required": [
                              "location_name",
                              "location_id",
                              "department_name",
                              "department_id",
                              "first_name",
                              "last_name"
                            ],
                            "properties": {
                              "location_name": {
                                "type": "string",
                                "minLength": 1
                              },
                              "location_id": {
                                "type": "string",
                                "minLength": 1,
                                "format": "uuid"
                              },
                              "department_name": {
                                "type": "string",
                                "minLength": 1
                              },
                              "department_id": {
                                "type": "string",
                                "minLength": 1,
                                "format": "uuid"
                              },
                              "first_name": {
                                "type": "string",
                                "minLength": 1
                              },
                              "last_name": {
                                "type": "string",
                                "minLength": 1
                              }
                            }
                          },
                          "card_id": {
                            "type": "string",
                            "minLength": 1,
                            "format": "uuid"
                          },
                          "id": {
                            "type": "string",
                            "minLength": 1,
                            "format": "uuid"
                          },
                          "merchant_id": {
                            "type": "string",
                            "format": "uuid"
                          },
                          "merchant_name": {
                            "type": "string",
                            "minLength": 1
                          },
                          "sk_category_id": {
                            "type": "number"
                          },
                          "sk_category_name": {
                            "type": "string",
                            "minLength": 1
                          },
                          "state": {
                            "type": "string",
                            "minLength": 1
                          },
                          "user_transaction_time": {
                            "type": "string",
                            "minLength": 1,
                            "format": "date-time"
                          },
                          "receipts": {
                            "description": "Receipts listed in ascending order by their creation time, related to the transaction.",
                            "type": "array",
                            "items": {
                              "type": "string",
                              "minLength": 1,
                              "format": "uuid"
                            }
                          },
                          "memo": {
                            "type": "string"
                          },
                          "accounting_categories": {
                            "description": "Accounting categories related to the transaction.",
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "category_id": {
                                  "type": "string"
                                },
                                "category_name": {
                                  "type": "string"
                                }
                              }
                            }
                          },
                          "policy_violations": {
                            "description": "Policy violations listed in descending order by their creation time, related to the transaction.",
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "created_at": {
                                  "type": "string",
                                  "format": "date-time"
                                },
                                "type": {
                                  "type": "string",
                                  "enum": [
                                    "POLICY_VIOLATION_FROM_ADMIN",
                                    "POLICY_VIOLATION_FROM_USER"
                                  ]
                                },
                                "id": {
                                  "type": "string",
                                  "format": "uuid"
                                },
                                "memo": {
                                  "type": "string",
                                  "description": "Free form text regarding the policy violation."
                                }
                              }
                            }
                          },
                          "disputes": {
                            "description": "Disputes listed in descending order by their creation time, related to the transaction.",
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "created_at": {
                                  "type": "string",
                                  "format": "date-time"
                                },
                                "type": {
                                  "type": "string",
                                  "enum": [
                                    "MERCHANT_ERROR",
                                    "UNRECOGNIZED_CHARGE",
                                    "DISPUTE_CANCELLED",
                                    "UNKNOWN"
                                  ]
                                },
                                "id": {
                                  "type": "string",
                                  "format": "uuid"
                                },
                                "memo": {
                                  "type": "string",
                                  "description": "Free form text provided by the dispute initiator."
                                }
                              }
                            }
                          }
                        },
                        "required": [
                          "amount",
                          "card_holder",
                          "card_id",
                          "id",
                          "merchant_id",
                          "merchant_name",
                          "sk_category_id",
                          "sk_category_name",
                          "state",
                          "user_transaction_time"
                        ]
                      }
                    }
                  }
                },
                "examples": {}
              }
            }
          },
          "400": {
            "description": "Standard error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "details": {
                          "type": "object",
                          "description": "Extra metadata about the error, may be empty. Usually depends on the error type."
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "error": {
                        "message": "string",
                        "details": {}
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get-transaction",
        "description": "Retrieves all transactions for the business. This endpoint supports filtering and ordering. NOTE: only one ordering param is supported.",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "Bearer x1x1x1x1x1x1x1x1x1x1"
            },
            "description": "The OAuth2 token header",
            "required": true
          },
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "in": "query",
            "name": "department_id"
          },
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "in": "query",
            "name": "location_id"
          },
          {
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "in": "query",
            "name": "from_date"
          },
          {
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "in": "query",
            "name": "to_date"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "merchant_id"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "sk_category_id"
          },
          {
            "schema": {
              "type": "boolean"
            },
            "in": "query",
            "name": "order_by_date_desc"
          },
          {
            "schema": {
              "type": "boolean"
            },
            "in": "query",
            "name": "order_by_date_asc"
          },
          {
            "schema": {
              "type": "boolean"
            },
            "in": "query",
            "name": "order_by_amount_desc"
          },
          {
            "schema": {
              "type": "boolean"
            },
            "in": "query",
            "name": "order_by_amount_asc"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "state"
          },
          {
            "schema": {
              "type": "number"
            },
            "in": "query",
            "name": "min_amount"
          },
          {
            "schema": {
              "type": "number"
            },
            "in": "query",
            "name": "max_amount"
          },
          {
            "name": "start",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "The ID of the last entity of the previous page, used for pagination to get the next page."
          },
          {
            "name": "page_size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number"
            },
            "description": "The number of results to be returned in each page. The value must be between 2 and 10,000. If not specified, the default will be 1,000."
          },
          {
            "schema": {
              "type": "boolean"
            },
            "in": "query",
            "name": "requires_memo",
            "description": "Filters for transactions which require a memo, but do not have one. This can only be set to true."
          }
        ],
        "security": [
          {
            "OAuth 2.0": [
              "transactions:read"
            ]
          }
        ]
      },
      "parameters": []
    },
    "/locations": {
      "get": {
        "summary": "List locations",
        "tags": [
          "Location"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "page": {
                      "type": "object",
                      "properties": {
                        "next": {
                          "type": "string"
                        }
                      }
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "title": "Location",
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "format": "uuid"
                          },
                          "name": {
                            "type": "string"
                          }
                        },
                        "x-tags": [
                          "Location"
                        ],
                        "description": "Ramp location"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Standard error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "details": {
                          "type": "object",
                          "description": "Extra metadata about the error, may be empty. Usually depends on the error type."
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "error": {
                        "message": "string",
                        "details": {}
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Standard error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "details": {
                          "type": "object",
                          "description": "Extra metadata about the error, may be empty. Usually depends on the error type."
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "error": {
                        "message": "string",
                        "details": {}
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get-location",
        "description": "Retrieves all locations for your business.",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "Bearer x1x1x1x1x1x1x1x1x1x1"
            },
            "description": "The OAuth2 token header",
            "required": true
          },
          {
            "name": "start",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "The ID of the last entity of the previous page, used for pagination to get the next page."
          },
          {
            "name": "page_size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number"
            },
            "description": "The number of results to be returned in each page. The value must be between 2 and 10,000. If not specified, the default will be 1,000."
          }
        ],
        "security": [
          {
            "OAuth 2.0": [
              "locations:read"
            ]
          }
        ]
      },
      "post": {
        "summary": "Create new location",
        "operationId": "post-location",
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Location",
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "name": {
                      "type": "string"
                    }
                  },
                  "x-tags": [
                    "Location"
                  ],
                  "description": "Ramp location"
                }
              }
            }
          },
          "400": {
            "description": "Standard error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "details": {
                          "type": "object",
                          "description": "Extra metadata about the error, may be empty. Usually depends on the error type."
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "error": {
                        "message": "string",
                        "details": {}
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Creates a new location for the business. ",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "description": "",
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1
                  }
                },
                "required": [
                  "name"
                ]
              },
              "examples": {}
            }
          },
          "description": ""
        },
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "Bearer x1x1x1x1x1x1x1x1x1x1"
            },
            "description": "The OAuth2 token header",
            "required": true
          }
        ],
        "tags": [
          "Location"
        ],
        "security": [
          {
            "OAuth 2.0": [
              "locations:write"
            ]
          }
        ]
      },
      "parameters": []
    },
    "/users": {
      "get": {
        "summary": "List users",
        "tags": [
          "User"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "description": "",
                  "type": "object",
                  "properties": {
                    "page": {
                      "type": "object",
                      "required": [
                        "next"
                      ],
                      "properties": {
                        "next": {
                          "type": "string",
                          "minLength": 1,
                          "format": "uri"
                        }
                      }
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "description": "Ramp User",
                        "type": "object",
                        "title": "User",
                        "x-examples": {
                          "example-1": {
                            "id": "497f6eca-6276-4993-bfeb-53cbbbba6f08",
                            "email": "user@example.com",
                            "first_name": "string",
                            "last_name": "string",
                            "role": "BUSINESS_ADMIN",
                            "phone": "string",
                            "deleted": true,
                            "location_id": null,
                            "department_id": null,
                            "manager_id": null,
                            "business_id": "f59fcbb7-848d-4242-af07-a8bb7e3ab37c"
                          }
                        },
                        "properties": {
                          "id": {
                            "type": "string",
                            "minLength": 1,
                            "format": "uuid"
                          },
                          "email": {
                            "type": "string",
                            "minLength": 1,
                            "format": "email"
                          },
                          "first_name": {
                            "type": "string",
                            "minLength": 1
                          },
                          "last_name": {
                            "type": "string",
                            "minLength": 1
                          },
                          "role": {
                            "type": "string",
                            "minLength": 1,
                            "enum": [
                              "BUSINESS_ADMIN",
                              "BUSINESS_USER",
                              "BUSINESS_OWNER",
                              "BUSINESS_BOOKKEEPER"
                            ]
                          },
                          "phone": {
                            "type": "string",
                            "minLength": 1
                          },
                          "amount_limit": {
                            "type": "string"
                          },
                          "location_id": {
                            "type": "string",
                            "nullable": true,
                            "format": "uuid"
                          },
                          "department_id": {
                            "type": "string",
                            "nullable": true,
                            "format": "uuid"
                          },
                          "manager_id": {
                            "type": "string",
                            "nullable": true,
                            "format": "uuid"
                          },
                          "business_id": {
                            "type": "string",
                            "format": "uuid"
                          }
                        },
                        "required": [
                          "id",
                          "email",
                          "first_name",
                          "last_name",
                          "role",
                          "phone",
                          "amount_limit"
                        ]
                      }
                    }
                  },
                  "required": [
                    "page",
                    "data"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Standard error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "details": {
                          "type": "object",
                          "description": "Extra metadata about the error, may be empty. Usually depends on the error type."
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "error": {
                        "message": "string",
                        "details": {}
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Standard error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "details": {
                          "type": "object",
                          "description": "Extra metadata about the error, may be empty. Usually depends on the error type."
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "error": {
                        "message": "string",
                        "details": {}
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get-users",
        "description": "Retrieve all users of the business. ",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "Bearer x1x1x1x1x1x1x1x1x1x1"
            },
            "description": "The OAuth2 token header",
            "required": true
          },
          {
            "name": "start",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "The ID of the last entity of the previous page, used for pagination to get the next page."
          },
          {
            "name": "page_size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number"
            },
            "description": "The number of results to be returned in each page. The value must be between 2 and 10,000. If not specified, the default will be 1,000."
          },
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "in": "query",
            "name": "department_id"
          },
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "in": "query",
            "name": "location_id"
          }
        ],
        "security": [
          {
            "OAuth 2.0": [
              "users:read"
            ]
          }
        ]
      },
      "parameters": []
    },
    "/locations/{id}": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "summary": "GET a location",
        "tags": [
          "Location"
        ],
        "operationId": "get-locations-location_id",
        "description": "Retrieve a specific location. ",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "Bearer x1x1x1x1x1x1x1x1x1x1"
            },
            "description": "The OAuth2 token header",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Location",
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "name": {
                      "type": "string"
                    }
                  },
                  "x-tags": [
                    "Location"
                  ],
                  "description": "Ramp location"
                }
              }
            }
          },
          "400": {
            "description": "Standard error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "details": {
                          "type": "object",
                          "description": "Extra metadata about the error, may be empty. Usually depends on the error type."
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "error": {
                        "message": "string",
                        "details": {}
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Standard error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "details": {
                          "type": "object",
                          "description": "Extra metadata about the error, may be empty. Usually depends on the error type."
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "error": {
                        "message": "string",
                        "details": {}
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth 2.0": [
              "locations:read"
            ]
          }
        ]
      },
      "patch": {
        "summary": "Update location",
        "operationId": "patch-locations-location_id",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Location",
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "name": {
                      "type": "string"
                    }
                  },
                  "x-tags": [
                    "Location"
                  ],
                  "description": "Ramp location"
                }
              }
            }
          }
        },
        "description": "Modifies a specific location. ",
        "tags": [
          "Location"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "New name of location"
                  }
                },
                "required": [
                  "name"
                ]
              },
              "examples": {
                "example-1": {
                  "value": {
                    "name": "string"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth 2.0": [
              "locations:write"
            ]
          }
        ]
      }
    },
    "/departments": {
      "get": {
        "summary": "List departments",
        "tags": [
          "Department"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "page": {
                      "type": "object",
                      "properties": {
                        "next": {
                          "type": "string"
                        }
                      }
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "title": "Department",
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "format": "uuid"
                          },
                          "name": {
                            "type": "string"
                          }
                        },
                        "x-tags": [
                          "Department"
                        ],
                        "description": "Ramp Department"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Standard error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "details": {
                          "type": "object",
                          "description": "Extra metadata about the error, may be empty. Usually depends on the error type."
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "error": {
                        "message": "string",
                        "details": {}
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Standard error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "details": {
                          "type": "object",
                          "description": "Extra metadata about the error, may be empty. Usually depends on the error type."
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "error": {
                        "message": "string",
                        "details": {}
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get-departments",
        "description": "Retrieve all departments.",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "Bearer x1x1x1x1x1x1x1x1x1x1"
            },
            "description": "The OAuth2 token header",
            "required": true
          },
          {
            "name": "start",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "The ID of the last entity of the previous page, used for pagination to get the next page."
          },
          {
            "name": "page_size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number"
            },
            "description": "The number of results to be returned in each page. The value must be between 2 and 10,000. If not specified, the default will be 1,000."
          }
        ],
        "security": [
          {
            "OAuth 2.0": [
              "departments:read"
            ]
          }
        ]
      },
      "post": {
        "summary": "Create department",
        "operationId": "post-departments",
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Department",
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "name": {
                      "type": "string"
                    }
                  },
                  "x-tags": [
                    "Department"
                  ],
                  "description": "Ramp Department"
                }
              }
            }
          }
        },
        "description": "Create a new department.",
        "parameters": [],
        "tags": [
          "Department"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  }
                },
                "required": [
                  "name"
                ]
              }
            }
          }
        },
        "security": [
          {
            "OAuth 2.0": [
              "departments:write"
            ]
          }
        ]
      },
      "parameters": []
    },
    "/departments/{id}": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "summary": "GET a department",
        "tags": [
          "Department"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Department",
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "name": {
                      "type": "string"
                    }
                  },
                  "x-tags": [
                    "Department"
                  ],
                  "description": "Ramp Department"
                }
              }
            }
          },
          "400": {
            "description": "Standard error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "details": {
                          "type": "object",
                          "description": "Extra metadata about the error, may be empty. Usually depends on the error type."
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "error": {
                        "message": "string",
                        "details": {}
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Standard error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "details": {
                          "type": "object",
                          "description": "Extra metadata about the error, may be empty. Usually depends on the error type."
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "error": {
                        "message": "string",
                        "details": {}
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get-department-department_id",
        "description": "Retrieve a single department.",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "Bearer x1x1x1x1x1x1x1x1x1x1"
            },
            "description": "The OAuth2 token header",
            "required": true
          }
        ],
        "security": [
          {
            "OAuth 2.0": [
              "departments:read"
            ]
          }
        ]
      },
      "patch": {
        "summary": "Update department",
        "operationId": "patch-department-department_id",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Department",
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "name": {
                      "type": "string"
                    }
                  },
                  "x-tags": [
                    "Department"
                  ],
                  "description": "Ramp Department"
                }
              }
            }
          }
        },
        "description": "Modify a department. ",
        "tags": [
          "Department"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "New department name"
                  }
                },
                "required": [
                  "name"
                ]
              },
              "examples": {
                "example-1": {
                  "value": {
                    "name": "string"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth 2.0": [
              "departments:write"
            ]
          }
        ]
      }
    },
    "/cards": {
      "get": {
        "summary": "List cards",
        "tags": [
          "Card"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "page": {
                      "type": "object",
                      "properties": {
                        "next": {
                          "type": "string",
                          "format": "uuid"
                        }
                      }
                    },
                    "cards": {
                      "type": "array",
                      "items": {
                        "description": "Card data that holds mostly static information about a card.",
                        "type": "object",
                        "x-examples": {
                          "example-1": {
                            "id": "497f6eca-6276-4993-bfeb-53cbbbba6f08",
                            "is_physical": true,
                            "display_name": "string",
                            "last_four": "1234",
                            "cardholder_id": "b41a5553-f9d1-4565-a52e-86ef53ff44f9",
                            "cardholder_name": "string",
                            "card_program_id": "2d5de619-32c8-4906-bbf3-941245a0a8a7",
                            "fulfillment": {
                              "shipping": {
                                "recipient_address": {
                                  "address1": "string",
                                  "city": "string",
                                  "country": "string",
                                  "first_name": "string",
                                  "last_name": "string",
                                  "postal_code": "string",
                                  "state": "string"
                                }
                              }
                            },
                            "spending_restrictions": {
                              "amount": 0,
                              "interval": "DAILY",
                              "lock_date": "2019-08-24T14:15:22Z",
                              "categories": [
                                0
                              ],
                              "transaction_amount_limit": 0
                            }
                          }
                        },
                        "x-tags": [
                          "Card"
                        ],
                        "title": "Card",
                        "properties": {
                          "id": {
                            "type": "string",
                            "minLength": 1,
                            "format": "uuid"
                          },
                          "is_physical": {
                            "type": "boolean"
                          },
                          "display_name": {
                            "type": "string",
                            "minLength": 1
                          },
                          "last_four": {
                            "type": "string",
                            "pattern": "[0-9]+",
                            "minLength": 4,
                            "maxLength": 4
                          },
                          "cardholder_id": {
                            "type": "string",
                            "format": "uuid"
                          },
                          "cardholder_name": {
                            "type": "string"
                          },
                          "card_program_id": {
                            "type": "string",
                            "format": "uuid"
                          },
                          "fulfillment": {
                            "description": "Details for shipping physical cards",
                            "type": "object",
                            "properties": {
                              "shipping": {
                                "type": "object",
                                "properties": {
                                  "recipient_address": {
                                    "type": "object",
                                    "properties": {
                                      "address1": {
                                        "type": "string",
                                        "minLength": 1
                                      },
                                      "city": {
                                        "type": "string",
                                        "minLength": 1
                                      },
                                      "country": {
                                        "type": "string",
                                        "minLength": 1
                                      },
                                      "first_name": {
                                        "type": "string",
                                        "minLength": 1
                                      },
                                      "last_name": {
                                        "type": "string",
                                        "minLength": 1
                                      },
                                      "postal_code": {
                                        "type": "string",
                                        "minLength": 1
                                      },
                                      "state": {
                                        "type": "string",
                                        "minLength": 1
                                      }
                                    }
                                  }
                                }
                              }
                            },
                            "x-examples": {
                              "example-1": {
                                "shipping": {
                                  "recipient_address": {
                                    "address1": "string",
                                    "city": "string",
                                    "country": "string",
                                    "first_name": "string",
                                    "last_name": "string",
                                    "postal_code": "string",
                                    "state": "string"
                                  }
                                }
                              }
                            },
                            "title": "Card Fulfillment"
                          },
                          "spending_restrictions": {
                            "description": "Specifies the spend restrictions on a Ramp card.",
                            "type": "object",
                            "x-examples": {
                              "example-1": {
                                "amount": 0,
                                "interval": "string",
                                "lock_date": "string",
                                "categories": [
                                  {}
                                ],
                                "transaction_amount_limit": 0
                              }
                            },
                            "x-tags": [
                              "Card"
                            ],
                            "title": "Card Spending Restriction",
                            "properties": {
                              "amount": {
                                "type": "number",
                                "minimum": 0,
                                "description": "Amount limit total per interval."
                              },
                              "interval": {
                                "type": "string",
                                "minLength": 1,
                                "enum": [
                                  "DAILY",
                                  "MONTHLY",
                                  "YEARLY",
                                  "TOTAL"
                                ],
                                "description": "Time interval to apply limit to."
                              },
                              "lock_date": {
                                "type": "string",
                                "minLength": 1,
                                "format": "date-time",
                                "description": "Date to automatically lock the card. If lock date has passed, set to a future date or to null to unlock the card."
                              },
                              "categories": {
                                "type": "array",
                                "uniqueItems": true,
                                "description": "List of Ramp Category Codes to restrict this card to.",
                                "items": {
                                  "type": "number"
                                }
                              },
                              "blocked_categories": {
                                "type": "array",
                                "uniqueItems": true,
                                "description": "List of Ramp Category Codes blocked for this card.",
                                "items": {
                                  "type": "number"
                                }
                              },
                              "transaction_amount_limit": {
                                "type": "number",
                                "minimum": 0,
                                "description": "Max amount limit per transaction."
                              },
                              "suspended": {
                                "type": "boolean",
                                "description": "Whether the card has been suspended"
                              }
                            },
                            "required": [
                              "amount",
                              "interval"
                            ]
                          }
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "page": {
                        "next": "7d617674-5c21-42c8-80ae-b0ab590cb046"
                      },
                      "cards": [
                        {
                          "id": "497f6eca-6276-4993-bfeb-53cbbbba6f08",
                          "is_physical": true,
                          "display_name": "string",
                          "last_four": "stri"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Standard error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "details": {
                          "type": "object",
                          "description": "Extra metadata about the error, may be empty. Usually depends on the error type."
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "error": {
                        "message": "string",
                        "details": {}
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get-cards",
        "description": "Retrieve all cards.",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "Bearer x1x1x1x1x1x1x1x1x1x1"
            },
            "description": "The OAuth2 token header",
            "required": true
          },
          {
            "name": "start",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "The ID of the last entity of the previous page, used for pagination to get the next page."
          },
          {
            "name": "page_size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number"
            },
            "description": "The number of results to be returned in each page. The value must be between 2 and 10,000. If not specified, the default will be 1,000."
          },
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "in": "query",
            "name": "user_id"
          },
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "in": "query",
            "name": "card_program_id"
          }
        ],
        "security": [
          {
            "OAuth 2.0": [
              "cards:read"
            ]
          }
        ]
      },
      "parameters": []
    },
    "/cards/{id}": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "summary": "GET a card",
        "tags": [
          "Card"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "description": "Card data that holds mostly static information about a card.",
                  "type": "object",
                  "x-examples": {
                    "example-1": {
                      "id": "497f6eca-6276-4993-bfeb-53cbbbba6f08",
                      "is_physical": true,
                      "display_name": "string",
                      "last_four": "1234",
                      "cardholder_id": "b41a5553-f9d1-4565-a52e-86ef53ff44f9",
                      "cardholder_name": "string",
                      "card_program_id": "2d5de619-32c8-4906-bbf3-941245a0a8a7",
                      "fulfillment": {
                        "shipping": {
                          "recipient_address": {
                            "address1": "string",
                            "city": "string",
                            "country": "string",
                            "first_name": "string",
                            "last_name": "string",
                            "postal_code": "string",
                            "state": "string"
                          }
                        }
                      },
                      "spending_restrictions": {
                        "amount": 0,
                        "interval": "DAILY",
                        "lock_date": "2019-08-24T14:15:22Z",
                        "categories": [
                          0
                        ],
                        "transaction_amount_limit": 0
                      }
                    }
                  },
                  "x-tags": [
                    "Card"
                  ],
                  "title": "Card",
                  "properties": {
                    "id": {
                      "type": "string",
                      "minLength": 1,
                      "format": "uuid"
                    },
                    "is_physical": {
                      "type": "boolean"
                    },
                    "display_name": {
                      "type": "string",
                      "minLength": 1
                    },
                    "last_four": {
                      "type": "string",
                      "pattern": "[0-9]+",
                      "minLength": 4,
                      "maxLength": 4
                    },
                    "cardholder_id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "cardholder_name": {
                      "type": "string"
                    },
                    "card_program_id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "fulfillment": {
                      "description": "Details for shipping physical cards",
                      "type": "object",
                      "properties": {
                        "shipping": {
                          "type": "object",
                          "properties": {
                            "recipient_address": {
                              "type": "object",
                              "properties": {
                                "address1": {
                                  "type": "string",
                                  "minLength": 1
                                },
                                "city": {
                                  "type": "string",
                                  "minLength": 1
                                },
                                "country": {
                                  "type": "string",
                                  "minLength": 1
                                },
                                "first_name": {
                                  "type": "string",
                                  "minLength": 1
                                },
                                "last_name": {
                                  "type": "string",
                                  "minLength": 1
                                },
                                "postal_code": {
                                  "type": "string",
                                  "minLength": 1
                                },
                                "state": {
                                  "type": "string",
                                  "minLength": 1
                                }
                              }
                            }
                          }
                        }
                      },
                      "x-examples": {
                        "example-1": {
                          "shipping": {
                            "recipient_address": {
                              "address1": "string",
                              "city": "string",
                              "country": "string",
                              "first_name": "string",
                              "last_name": "string",
                              "postal_code": "string",
                              "state": "string"
                            }
                          }
                        }
                      },
                      "title": "Card Fulfillment"
                    },
                    "spending_restrictions": {
                      "description": "Specifies the spend restrictions on a Ramp card.",
                      "type": "object",
                      "x-examples": {
                        "example-1": {
                          "amount": 0,
                          "interval": "string",
                          "lock_date": "string",
                          "categories": [
                            {}
                          ],
                          "transaction_amount_limit": 0
                        }
                      },
                      "x-tags": [
                        "Card"
                      ],
                      "title": "Card Spending Restriction",
                      "properties": {
                        "amount": {
                          "type": "number",
                          "minimum": 0,
                          "description": "Amount limit total per interval."
                        },
                        "interval": {
                          "type": "string",
                          "minLength": 1,
                          "enum": [
                            "DAILY",
                            "MONTHLY",
                            "YEARLY",
                            "TOTAL"
                          ],
                          "description": "Time interval to apply limit to."
                        },
                        "lock_date": {
                          "type": "string",
                          "minLength": 1,
                          "format": "date-time",
                          "description": "Date to automatically lock the card. If lock date has passed, set to a future date or to null to unlock the card."
                        },
                        "categories": {
                          "type": "array",
                          "uniqueItems": true,
                          "description": "List of Ramp Category Codes to restrict this card to.",
                          "items": {
                            "type": "number"
                          }
                        },
                        "blocked_categories": {
                          "type": "array",
                          "uniqueItems": true,
                          "description": "List of Ramp Category Codes blocked for this card.",
                          "items": {
                            "type": "number"
                          }
                        },
                        "transaction_amount_limit": {
                          "type": "number",
                          "minimum": 0,
                          "description": "Max amount limit per transaction."
                        },
                        "suspended": {
                          "type": "boolean",
                          "description": "Whether the card has been suspended"
                        }
                      },
                      "required": [
                        "amount",
                        "interval"
                      ]
                    }
                  }
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "id": "497f6eca-6276-4993-bfeb-53cbbbba6f08",
                      "is_physical": true,
                      "display_name": "string",
                      "last_four": "stri"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Standard error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "details": {
                          "type": "object",
                          "description": "Extra metadata about the error, may be empty. Usually depends on the error type."
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "error": {
                        "message": "string",
                        "details": {}
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Standard error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "details": {
                          "type": "object",
                          "description": "Extra metadata about the error, may be empty. Usually depends on the error type."
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "error": {
                        "message": "string",
                        "details": {}
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get-cards-card_id",
        "description": "Retrieve a single card.",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "Bearer x1x1x1x1x1x1x1x1x1x1"
            },
            "description": "The OAuth2 token header",
            "required": true
          }
        ],
        "security": [
          {
            "OAuth 2.0": [
              "cards:read"
            ]
          }
        ]
      },
      "patch": {
        "summary": "Update card",
        "operationId": "patch-resources-cards-card_id",
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Standard error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "details": {
                          "type": "object",
                          "description": "Extra metadata about the error, may be empty. Usually depends on the error type."
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "error": {
                        "message": "string",
                        "details": {}
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Standard error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "details": {
                          "type": "object",
                          "description": "Extra metadata about the error, may be empty. Usually depends on the error type."
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "error": {
                        "message": "string",
                        "details": {}
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Update card details",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "Bearer x1x1x1x1x1x1x1x1x1x1"
            },
            "description": "The OAuth2 token header",
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "display_name": {
                    "type": "string",
                    "description": "Cosmetic display name of the card."
                  },
                  "has_notifications_enabled": {
                    "type": "boolean",
                    "description": "Flag to set to enable or disable notifications."
                  },
                  "spending_restrictions": {
                    "description": "Specifies the spend restrictions on a Ramp card.",
                    "type": "object",
                    "x-examples": {
                      "example-1": {
                        "amount": 0,
                        "interval": "string",
                        "lock_date": "string",
                        "categories": [
                          {}
                        ],
                        "transaction_amount_limit": 0
                      }
                    },
                    "x-tags": [
                      "Card"
                    ],
                    "title": "Card Spending Restriction",
                    "properties": {
                      "amount": {
                        "type": "number",
                        "minimum": 0,
                        "description": "Amount limit total per interval."
                      },
                      "interval": {
                        "type": "string",
                        "minLength": 1,
                        "enum": [
                          "DAILY",
                          "MONTHLY",
                          "YEARLY",
                          "TOTAL"
                        ],
                        "description": "Time interval to apply limit to."
                      },
                      "lock_date": {
                        "type": "string",
                        "minLength": 1,
                        "format": "date-time",
                        "description": "Date to automatically lock the card. If lock date has passed, set to a future date or to null to unlock the card."
                      },
                      "categories": {
                        "type": "array",
                        "uniqueItems": true,
                        "description": "List of Ramp Category Codes to restrict this card to.",
                        "items": {
                          "type": "number"
                        }
                      },
                      "blocked_categories": {
                        "type": "array",
                        "uniqueItems": true,
                        "description": "List of Ramp Category Codes blocked for this card.",
                        "items": {
                          "type": "number"
                        }
                      },
                      "transaction_amount_limit": {
                        "type": "number",
                        "minimum": 0,
                        "description": "Max amount limit per transaction."
                      },
                      "suspended": {
                        "type": "boolean",
                        "description": "Whether the card has been suspended"
                      }
                    },
                    "required": [
                      "amount",
                      "interval"
                    ]
                  },
                  "card_program_id": {
                    "type": "string",
                    "format": "uuid",
                    "description": "Set to link card with a card program, or set to null to detach a card from a card program. If the card is already linked with a card program, it will detach from original card program before linking with the new one."
                  }
                }
              },
              "examples": {
                "example-1": {
                  "value": {
                    "display_name": "string",
                    "has_notifications_enabled": true,
                    "spending_restrictions": {
                      "amount": 0,
                      "interval": "DAILY",
                      "lock_date": "2019-08-24T14:15:22Z",
                      "categories": [
                        0
                      ],
                      "transaction_amount_limit": 0
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Card"
        ],
        "security": [
          {
            "OAuth 2.0": [
              "cards:write"
            ]
          }
        ]
      }
    },
    "/custom-id-provider": {
      "parameters": [],
      "get": {
        "summary": "GET the Custom ID provider linked to the current OAuth token",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "custom_id_provider": {
                      "type": "string",
                      "format": "uuid"
                    }
                  },
                  "required": [
                    "custom_id_provider"
                  ]
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "custom_id_provider": "11111111-1111-1111-1111-111111111111"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Standard error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "details": {
                          "type": "object",
                          "description": "Extra metadata about the error, may be empty. Usually depends on the error type."
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "error": {
                        "message": "string",
                        "details": {}
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Standard error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "details": {
                          "type": "object",
                          "description": "Extra metadata about the error, may be empty. Usually depends on the error type."
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "error": {
                        "message": "string",
                        "details": {}
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get-custom_id-custom-id-provider",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "Bearer x1x1x1x1x1x1x1x1x1x1"
            },
            "description": "The OAuth2 token header",
            "required": true
          }
        ],
        "tags": [
          "Custom ID"
        ],
        "security": [
          {
            "OAuth 2.0": []
          }
        ]
      },
      "post": {
        "summary": "Create a Custom ID provider",
        "operationId": "postcustom-id-provider",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "header",
[...]
